<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="pt60 pb90 bgc-f7" *ngIf="PropertyDetail != null">
  <div class="container">
    <div class="row mb30 wow fadeInUp" data-wow-delay="100ms" style="margin-bottom: 0 !important;">
      <div class="col-lg-8">
        <div class="single-property-content mb30-md">
          <h1 class="sp-lg-title">{{PropertyDetail?.fullAddress}}</h1>
          <div class="buttons">
            <button class="features me-2" style="background-color: rgb(16, 87, 159);">{{PropertyDetail.isDiamondType ?
              'Diamond' : 'Feature'}}</button>
            <button class="propertytype">{{PropertyDetail.propertyType}}</button>
            <div class="d-flex gap-2 mt-3 addres">
              <svg class="mt-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                viewBox="0 0 16 16">
                <path
                  d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10">
                </path>
                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"></path>
              </svg>
              <p class="addresses">
                {{PropertyDetail.propertyType}} For Sale in {{PropertyDetail.city}}, {{PropertyDetail.stateOrProvince}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-property-content">
          <div class="property-action text-lg-end">
            <div class="d-flex mb20 mb10-md align-items-center justify-content-lg-end">
              <a class="icon mr10" href="#"><span class="flaticon-like"></span></a>
              <a class="icon mr10" href="#"><span class="flaticon-new-tab"></span></a>
              <a class="icon mr10" href="#"><span class="flaticon-share-1"></span></a>
              <a class="icon" href="#"><span class="flaticon-printer"></span></a>
            </div>
            <h4 class="price mb-0">{{ PropertyDetail.listPrice  | currency: 'CAD' : 'symbol-narrow' : '4.0-2' }}</h4>
            <p class="text space fz15">{{ PropertyDetail.listPriceSquareFoot | number  | currency: 'CAD' : 'symbol-narrow' : '4.0-2' }}/sq ft</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row wow fadeInUp" data-wow-delay="500ms">
      <div class="col-lg-8 order-sm-first">
        <!-- Banner -->
        <div class="overview mt-3 mb30 rounded-3" style="position: relative;">

          <!-- Single Banner -->
          <div *ngIf="images && images.length > 0" class="carousel-container" data-bs-toggle="modal"
            data-bs-target="#exampleModalbanner">
            <div class="set-img">
              <img *ngFor="let image of images let i = index" [src]="image" [alt]="i"
                [ngClass]="{ 'image-active': selectedIndex === i }" class="fade-in-image">
            </div>
          </div>
          <!-- Single banner End -->
          <!-- Button trigger modal -->


          <!-- Modal -->
          <div class="modal fade" id="exampleModalbanner" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="d-flex align-items-center justify-content-between w-100 px-3">
                    <img class="logo" src="http://127.0.0.1:8000/images/logo.svg" alt="">
                    <div class="d-flex gap-2 justify-content-between" style="align-items: baseline;">

                      <p class="mb-0 fa fa-heart-o cursor-pointer">
                        Favorite
                      </p>
                      <div class="dropdown">

                        <p class="fa fa-share-alt icons" id="shareimage" onclick="toggleDropdown('shareimageDropdown')">
                          Share
                        </p>
                        <div class="dropdown-menu" id="shareimageDropdown" style="display: none;">
                          <a onclick="share('facebook')"><i class="ri-facebook-fill"></i> Share on
                            Facebook</a>
                          <a onclick="share('whatsapp')"><i class="ri-whatsapp-fill"></i> Share on
                            WhatsApp</a>
                          <a onclick="share('email')"><i class="ri-mail-fill"></i> Share via
                            Email</a>
                        </div>
                      </div>

                    </div>
                  </div>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body" style="position: relative;">
                  <div *ngIf="images && images.length > 0" class="carousel-container">
                    <div class="set-imgg">
                      <img *ngFor="let image of images let i = index" [src]="image" [alt]="i"
                        [ngClass]="{ 'image-active': selectedIndex === i }" class="fade-in-image">
                    </div>
                  </div>
                  <div class="slider-container3">
                    <button class="slider-button3 left-arr4" (click)="onPrevClick()"><i class="fa fa-angle-left"
                        aria-hidden="true"></i></button>
                    <button class="slider-button3 right-arr4" (click)="onNextClick()"><i class="fa fa-angle-right"
                        aria-hidden="true"></i></button>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <hr>

          <!-- multi banner -->
          <div style="position: relative;">
            <div *ngIf="indicators" class="row carouselcustom px-3" style="position: relative;">
              <div *ngFor="let image of images let i = index" class="col-2 slide-parent">
                <div class="set-img-2">
                  <img [src]="image" [ngClass]="{'active': selectedIndex === i}" (click)="selectImage(i)">
                </div>
              </div>
            </div>
            <div class="slider-container3">
              <div href="javascript:void(0)" class="slider-button3 left-arr2" (click)="prevClick()" #prev><i class="fa fa-angle-left"
                  aria-hidden="true"></i></div>
              <div href="javascript:void(0)" class="slider-button3 right-arr2" (click)="nextClick()" #next><i class="fa fa-angle-right"
                  aria-hidden="true"></i></div>
            </div>
          </div>

          <div class="slider-container3">
            <button class="slider-button3 left-arr3" (click)="onPrevClick()"><i class="fa fa-angle-left"
                aria-hidden="true"></i></button>
            <button class="slider-button3 right-arr3" (click)="onNextClick()"><i class="fa fa-angle-right"
                aria-hidden="true"></i></button>
          </div>
          <!-- multi banner end -->
        </div>

        <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">
          <h4 class="title fz17 mb30">Overview</h4>
          <div class="row">
            <div class="col-sm-6 col-lg-4">
              <div class="overview-element mb25 d-flex align-items-center">
                <span class="icon flaticon-bed"></span>
                <div class="ml15">
                  <h6 class="mb-0">Bedroom</h6>
                  <p class="text mb-0 fz15">3</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="overview-element mb25 d-flex align-items-center">
                <span class="icon flaticon-shower"></span>
                <div class="ml15">
                  <h6 class="mb-0">Bath</h6>
                  <p class="text mb-0 fz15">2</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="overview-element mb25 d-flex align-items-center">
                <span class="icon flaticon-event"></span>
                <div class="ml15">
                  <h6 class="mb-0">Year Built</h6>
                  <p class="text mb-0 fz15">2022</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="overview-element mb25-xs d-flex align-items-center">
                <span class="icon flaticon-garage"></span>
                <div class="ml15">
                  <h6 class="mb-0">Garage</h6>
                  <p class="text mb-0 fz15">2</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="overview-element mb25-xs d-flex align-items-center">
                <span class="icon flaticon-expand"></span>
                <div class="ml15">
                  <h6 class="mb-0">Sqft</h6>
                  <p class="text mb-0 fz15">1200</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="overview-element d-flex align-items-center">
                <span class="icon flaticon-home-1"></span>
                <div class="ml15">
                  <h6 class="mb-0">Property Type</h6>
                  <p class="text mb-0 fz15">Apartment</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="overview mt-3 mb30 rounded-3">
          <div class="d-flex alifn-items-center mb-4  justify-content-between">
            <h4>Overview</h4>
            <div> <strong>MLS ID : </strong> <span class="listingid">{{PropertyDetail.listingId}}</span>
            </div>
          </div>
          <hr>
          <div class="row mt-4">
            <div class="col-6 col-sm-4 col-md">
              <div>
                <div class="d-flex align-items-center gap-2">
                  <i class="fa-light fa-house-blank"></i>
                  <h6 class="propertytype">{{PropertyDetail.propertyType}}</h6>
                </div>
                <p>Property Type</p>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md">
              <div>
                <div class="d-flex  align-items-center gap-2">
                  <i class="fa-light fa-bed-front"></i>
                  <h6 class="bedroom">{{PropertyDetail.bedrooms}}</h6>
                </div>
                <p>Bedrooms</p>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md">
              <div>
                <div class="d-flex  align-items-center gap-2">
                  <i class="fa-light fa-shower"></i>
                  <h6 class="bathroom">{{PropertyDetail.bathrooms}}</h6>
                </div>
                <p>Bathroom</p>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md" *ngIf="PropertyDetail.isGarage == 1">
              <div>
                <div class="d-flex  align-items-center gap-2">
                  <i class="fa-light fa-car"></i>
                  <h6 class="garage">{{PropertyDetail.garage}}</h6>
                </div>
                <p>Garage</p>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md">
              <div>
                <div class="d-flex  align-items-center gap-2">
                  <span class="material-symbols-outlined opacity-75">
                    <i class="fa-light fa-car"></i>
                  </span>
                  <h6 class="area">{{PropertyDetail.livingAreaSF}}</h6>
                </div>
                <p>Sq Ft</p>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md">
              <div>
                <div class="d-flex  align-items-center gap-2">
                  <i class="fa-light fa-calendar-days"></i>
                  <h6 class="years">{{PropertyDetail.yearBuilt}}</h6>
                </div>
                <p>Year Built</p>
              </div>
            </div>
          </div>
        </div> -->
        <div class="about mt-5 mb30" id="section1">
          <h4 class="my-3">Description</h4>
          <hr class="mb-3">
          <p>
            {{PropertyDetail.publicRemarks}}
          </p>
        </div>
        <div class="address ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30  overflow-hidden position-relative">
          <div class="d-flex align-items-center justify-content-between my-3">
            <h4>Address</h4>
            <button class="ud-btn btn-primary border-0"
              (click)="openGoogleMap(PropertyDetail.latitude,PropertyDetail.longitude)">Open on Google Maps</button>
          </div>
          <hr>
          <div class="row">

            <table class="table table-borderless">
              <tbody>
              <tr>
                <th scope="row">Address</th>
                <td><p>260064 Bearspaw Road null</p></td>
                <th scope="row">Zip/Postal Code</th>
                <td><p>T3R 1H4</p></td>
              </tr>
              <tr>
                <th scope="row">City</th>
                <td><p>Rural Rocky View County</p></td>
                <th scope="row">Area</th>
                <td><p>N/A</p></td>
                </tr>
                <tr>
                <th scope="row">State/county</th>
                  <td><p>Alberta</p></td>
                  <th scope="row">Country</th>
                  <td><p>Canada</p></td>
                 </tr>
               </tbody>
              </table>


          </div>
        </div>
        <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">
          <div class="property-dtls mt-5" id="section3">
            <div class="d-flex align-items-center justify-content-between mt-3">
              <h4>Details</h4>
              <div class="d-flex align-items-center gap-2">
                <i class="fa-light fa-calendar-days"></i>
                <p class="updatedate mb-0">Updated on {{PropertyDetail.modified_Date | date : 'MM/d/y H:mm:ss'}}</p>
              </div>
            </div>
            <hr>
            <div class="box mt-4">
              <div class="row mt-4">
                <div class="col-12 col-sm">
                  <div class="d-flex align-items-center justify-content-between">
                    <span><strong>MLS ID :</strong></span>
                    <p class="mb-2 listingid">{{PropertyDetail.listingId}}</p>
                  </div>
                  <hr>
                  <div class="d-flex align-items-center justify-content-between">
                    <span><strong>Price :</strong></span>
                    <p class="mb-2 listprice">{{ PropertyDetail.listPrice | currency: 'CAD' : 'symbol-narrow' : '4.0-2' }}</p>
                  </div>
                  <hr>
                  <div class="d-flex align-items-center justify-content-between">
                    <span><strong>Property Size :</strong></span>
                    <p class="mb-2 propertysize">{{ PropertyDetail.listPriceSquareFoot | number  | currency: 'CAD' : 'symbol-narrow' : '4.0-2' }} Sq ft</p>
                  </div>
                  <hr>
                  <div class="d-flex align-items-center justify-content-between">
                    <span><strong>Bedrooms :</strong></span>
                    <p class="mb-2 bedroom">{{PropertyDetail.bedrooms}}</p>
                  </div>
                  <hr>
                  <div class="d-flex align-items-center justify-content-between">
                    <span><strong>Bathroom :</strong></span>
                    <p class="mb-2 bathroom">{{PropertyDetail.bathrooms}}</p>
                  </div>
                  <hr>
                </div>
                <div class="col-12 col-sm">
                  <div class="d-flex align-items-center justify-content-between">
                    <span><strong>Garage :</strong></span>
                    <p class="mb-2 garage">{{PropertyDetail.isGarage == 1 ? PropertyDetail.garage : 0}}</p>
                  </div>
                  <hr>
                  <div class="d-flex align-items-center justify-content-between">
                    <span><strong>Garage Size :</strong></span>
                    <p class="mb-2 garazesize">N/A</p>
                  </div>
                  <hr>
                  <div class="d-flex align-items-center justify-content-between">
                    <span><strong>Year Built :</strong></span>
                    <p class="mb-2 years">{{PropertyDetail.yearBuilt}}</p>
                  </div>
                  <hr>
                  <div class="d-flex align-items-center justify-content-between">
                    <span><strong>Property Type :</strong></span>
                    <p class="mb-2 propertytype">{{PropertyDetail.propertyType}}</p>
                  </div>
                  <hr>
                  <div class="d-flex align-items-center justify-content-between">
                    <span><strong>Property Status :</strong></span>
                    <p class="mb-2 buildingtype">{{PropertyDetail.transactionType}}</p>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
            <div class="address p-0" id="additionalDetails">
              <div class="d-flex align-items-center justify-content-between my-3">
                <h4>Additional Details</h4>
              </div>
              <hr>
              <div class="row mt-4">
                <div class="col-12 col-sm">
                  <div class="d-flex align-items-center justify-content-between">
                    <span class="depo"><strong>Fencing :</strong></span>
                    <p class="mb-2 deposit">{{PropertyDetail.fencing ? PropertyDetail.fencing : 'N/A'}}</p>
                  </div>
                  <hr>
                  <div class="d-flex align-items-center justify-content-between">
                    <span class="pool"><strong>Sewer :</strong></span>
                    <p class="mb-2 poolsize">{{PropertyDetail.sewer ? PropertyDetail.sewer: 'N/A'}}</p>
                  </div>
                  <hr>
                  <div class="d-flex align-items-center justify-content-between">
                    <span class="remodel"><strong>Water Front :</strong></span>
                    <p class="mb-2 parking">{{PropertyDetail.waterfrontFeatures ? PropertyDetail.waterfrontFeatures:
                      'N/A'}}</p>
                  </div>
                  <hr>
                </div>
                <div class="col-12 col-sm">
                  <div class="d-flex align-items-center justify-content-between">
                    <span class="amenitites"><strong>Lot Features :</strong></span>
                    <p class="mb-2 clubhouse">{{PropertyDetail.lotFeatures ? PropertyDetail.lotFeatures: 'N/A'}}</p>
                  </div>
                  <hr>
                  <div class="d-flex align-items-center justify-content-between">
                    <span class="additional"><strong>Zoning :</strong></span>
                    <p class="mb-2 additionalroom">{{PropertyDetail.zoning ? PropertyDetail.zoning: 'N/A'}}</p>
                  </div>
                  <hr>
                  <div class="d-flex align-items-center justify-content-between">
                    <span class="equip"><strong>Frontage :</strong></span>
                    <p class="mb-2 equipment">{{PropertyDetail.frontageLength ? PropertyDetail.frontageLength: 'N/A'}}
                    </p>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">
          <h4 class="title fz17 mb30">Floor Plans</h4>
          <div class="row">
            <div class="col-md-12">
              <div class="accordion-style1 style2">
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFirst">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFirst" aria-expanded="true" aria-controls="collapseFirst">
                        <span class="w-100 d-md-flex align-items-center">
                          <span class="mr10-sm">First Floor</span>
                          <span class="ms-auto d-md-flex align-items-center justify-content-end">
                            <span class="me-2 me-md-4">
                              <span class="fw600">Size:</span>
                              <span class="text">1267 Sqft</span>
                            </span>
                            <span class="me-2 me-md-4">
                              <span class="fw600">Bedrooms</span>
                              <span class="text">2</span>
                            </span>
                            <span class="me-2 me-md-4">
                              <span class="fw600">Bathrooms</span>
                              <span class="text">2</span>
                            </span>
                            <span>
                              <span class="fw600">Price</span>
                              <span class="text">$920,99</span>
                            </span>
                          </span>
                        </span>
                      </button>
                    </h2>
                    <div id="collapseFirst" class="accordion-collapse collapse" aria-labelledby="headingFirst"
                      data-parent="#accordionExample">
                      <div class="accordion-body text-center"><img class="w-100"
                          src="../../../assets/images/listings/listing-single-1.png" alt=""></div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThird">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThird" aria-expanded="false" aria-controls="collapseThird">
                        <span class="w-100 d-md-flex align-items-center">
                          <span class="mr10-sm">Third Floor</span>
                          <span class="ms-auto d-md-flex align-items-center justify-content-end">
                            <span class="me-4">
                              <span class="fw600">Size:</span>
                              <span class="text">1267 Sqft</span>
                            </span>
                            <span class="me-4">
                              <span class="fw600">Bedrooms</span>
                              <span class="text">2</span>
                            </span>
                            <span class="me-4">
                              <span class="fw600">Bathrooms</span>
                              <span class="text">2</span>
                            </span>
                            <span>
                              <span class="fw600">Price</span>
                              <span class="text">$920,99</span>
                            </span>
                          </span>
                        </span>
                      </button>
                    </h2>
                    <div id="collapseThird" class="accordion-collapse collapse" aria-labelledby="headingThird"
                      data-parent="#accordionExample">
                      <div class="accordion-body text-center"><img class="w-100"
                          src="../../../assets/images/listings/listing-single-1.png" alt=""></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">
          <div class="Walk-Score my-5" id="section8">
            <h4>Walk Score</h4>
            <hr class="mt-4 mb-3">
            <div id="ws-walkscore-tile"
              style="position: relative; text-align: left; text-decoration: none; padding: 0px; font-stretch: normal; font-style: normal; font-variant: normal; letter-spacing: normal; word-spacing: normal; text-transform: none; vertical-align: baseline; text-indent: 0px; text-shadow: none; white-space: normal; background-image: none; background-color: transparent; height: 620px; width: 620px;">
              <iframe marginheight="0" marginwidth="0" height="620px" frameborder="0" scrolling="no" title="Walk Score"
                style="margin: 0px; outline: none; text-align: left; text-decoration: none; padding: 0px; font-stretch: normal; font-style: normal; font-variant: normal; letter-spacing: normal; word-spacing: normal; text-transform: none; vertical-align: baseline; text-indent: 0px; text-shadow: none; white-space: normal; background-image: none; background-color: transparent; border: 0px;"
                width="620px"
                src="https://www.walkscore.com/serve-walkscore-tile.php?wsid=&amp;s=328-Silver-Crest-Drive-Calgary-Alberta-T3B2Y2&amp;o=h&amp;c=f&amp;h=620&amp;fh=0&amp;w=620"></iframe>
            </div>
          </div>
        </div>
        <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">
          <div class="mortgage-calc my-5" id="section13">
            <h4>Mortgage Calculator</h4>
            <hr class="mt-4 mb-3">
            <div class="row">
              <div class="col-12 col-sm-6">
                <div class="mortgage-circle">
                  <!-- Mortgage price will be displayed here -->
                  <div class="mortgage-price">$6203.58</div>
                </div>
              </div>
              <div class="col-12 col-sm-6 hrcustom">
                <div class="d-flex align-items-center val  justify-content-between w-100">
                  <h6>Down Payment</h6>
                  <p id="downPayment">$235000.00</p>
                </div>
                <hr>
                <div class="d-flex align-items-center val  justify-content-between w-100">
                  <h6>Loan Amount</h6>
                  <p id="loanAmount">$940000.00</p>
                </div>
                <hr>
                <div class="d-flex align-items-center val  justify-content-between w-100">
                  <h6>Monthly Mortgage Payment</h6>
                  <p id="monthlyPayment">$6203.58</p>
                </div>
                <hr>
                <div class="d-flex align-items-center val  justify-content-between w-100">
                  <h6>Property Tax</h6>
                  <p id="propertyTax">$0.00</p>
                </div>
                <hr>
                <div class="d-flex align-items-center val  justify-content-between w-100">
                  <h6>Home Insurance</h6>
                  <p id="homeInsurance">$0.00</p>
                </div>
                <hr>
                <div class="d-flex align-items-center val  justify-content-between w-100">
                  <h6>PMI</h6>
                  <p id="pmi">$0.00</p>
                </div>
                <hr>
                <div class="d-flex align-items-center val  justify-content-between w-100">
                  <h6>Monthly HOA Fees</h6>
                  <p id="monthlyHoaFees">$0.00</p>
                </div>
                <hr>
              </div>
            </div>
            <div class="row mt-5 mt-sm-3 inputs">
              <div class="col-6 col-sm-4">
                <h6>Total Amount</h6>
                <div class="inp">
                  <div class="icons">$</div>
                  <input type="text" id="totalAmount">
                </div>
              </div>
              <div class="col-6 col-sm-4">
                <h6>Down Payment</h6>
                <div class="inp">
                  <div class="icons">%</div>
                  <input type="text" id="downPaymentPercentage">
                </div>
              </div>
              <div class="col-6 col-sm-4 mt-4 mt-sm-0">
                <h6>Interest Rate</h6>
                <div class="inp">
                  <div class="icons">%</div>
                  <input type="text" id="interestRate">
                </div>
              </div>
              <div class="col-6 col-sm-4 mt-4">
                <h6>Loan Terms (Years)</h6>
                <div class="inp">
                  <div class="icons"><i class="fa-light fa-calendar-days"></i></div>
                  <input type="text" id="loanTermYears">
                </div>
              </div>
              <div class="col-6 col-sm-4 mt-4">
                <h6>Property Tax</h6>
                <div class="inp">
                  <div class="icons">%</div>
                  <input type="text" id="propertyTaxPercentage">
                </div>
              </div>
              <div class="col-6 col-sm-4 mt-4">
                <h6>Home Insurance</h6>
                <div class="inp">
                  <div class="icons">$</div>
                  <input type="text" id="homeInsuranceAmount">
                </div>
              </div>
              <div class="col-6 col-sm-4 mt-4">
                <h6>Monthly HOA Fees</h6>
                <div class="inp">
                  <div class="icons">$</div>
                  <input type="text" id="monthlyHoaFeesAmount">
                </div>
              </div>
              <div class="col-6 col-sm-4 mt-4">
                <h6>PMI</h6>
                <div class="inp">
                  <div class="icons">%</div>
                  <input type="text" id="pmiPercentage">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">
          <h4 class="title fz17 mb30">Get More Information</h4>
          <div class="agent-single d-sm-flex align-items-center bdrb1 mb30 pb25">
            <div class="single-img mb30-sm">
              <img class="w90" src="images/team/agent-3.png" alt="">
            </div>
            <div class="single-contant ml30 ml0-xs">
              <h6 class="title mb-1">Arlene McCoy</h6>
              <div class="agent-meta mb10 d-md-flex align-items-center">
                <a class="text fz15 pe-2 bdrr1" href="#"><i class="flaticon-call pe-1"></i>(920) 012-3421</a>
                <a class="text fz15 pe-2 ps-2 bdrr1" href="#"><i class="flaticon-smartphone pe-1"></i>(920) 012-4390</a>
                <a class="text fz15 ps-2" href="#"><i class="flaticon-whatsapp pe-1"></i>WhatsApp</a>
              </div>
              <div class="agent-social">
                <a class="mr20" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="mr20" href="#"><i class="fab fa-twitter"></i></a>
                <a class="mr20" href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <form class="form-style1 row">
                <div class="col-md-6">
                  <div class="mb20">
                    <label class="heading-color ff-heading fw600 mb10">Name</label>
                    <input type="text" class="form-control" placeholder="Ali Tufan">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb20">
                    <label class="heading-color ff-heading fw600 mb10">Phone</label>
                    <input type="text" class="form-control" placeholder="Enter your phone">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb20">
                    <label class="heading-color ff-heading fw600 mb10">Email</label>
                    <input type="email" class="form-control" placeholder="creativelayers088">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="widget-wrapper sideborder-dropdown psp-review mb20">
                    <label class="heading-color ff-heading fw600 mb10">I'm a</label>
                    <div class="form-style2 input-group">
                      <select class="selectpicker" data-width="100%">
                        <option>Select</option>
                        <option value="Engineer">Engineer</option>
                        <option value="Doctor">Doctor</option>
                        <option value="Employee">Employee</option>
                        <option value="Businessman">Businessman</option>
                        <option value="Other">Other</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb10">
                    <label class="heading-color ff-heading fw600 mb10">Message</label>
                    <textarea cols="30" rows="4"
                      placeholder="Hello, I am interested in [Renovated apartment at last floor]"></textarea>
                  </div>
                </div>
                <div class="checkbox-style1 d-block d-sm-flex align-items-center justify-content-between mb10">
                  <label class="custom_checkbox fz14 ff-heading">By submitting this form I agree to Terms of Use
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="btn-area">
                  <button class="ud-btn btn-white2">Request Information <i class="fal fa-arrow-right-long"></i></button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">
          <h4 class="title fz17 mb30">Leave A Review</h4>
          <div class="row">
            <div class="col-md-12">
              <div class="bsp_reveiw_wrt">
                <form class="comments_form">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="mb-4">
                        <label class="fw600 ff-heading mb-2">Email</label>
                        <input type="email" class="form-control" placeholder="creativelayers088">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="mb-4">
                        <label class="fw600 ff-heading mb-2">Title</label>
                        <input type="text" class="form-control" placeholder="Enter Title">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="widget-wrapper sideborder-dropdown psp-review mb-4">
                        <label class="fw600 ff-heading mb-2">Rating</label>
                        <div class="form-style2 input-group">
                          <select class="selectpicker" data-live-search="true" data-width="100%">
                            <option>Select</option>
                            <option data-tokens="Five Star">Five Star</option>
                            <option data-tokens="Four Star">Four Star</option>
                            <option data-tokens="Three Star">Three Star</option>
                            <option data-tokens="Two Star">Two Star</option>
                            <option data-tokens="One Star">One Star</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="mb-4">
                        <label class="fw600 ff-heading mb-2">Review</label>
                        <textarea class="pt15" rows="6" placeholder="Write a Review"></textarea>
                      </div>
                      <a href="page-property-single-v1.html" class="ud-btn btn-white2">Submit Review
                        <i class="fal fa-arrow-right-long"></i>
                      </a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 px-1 sticky-wrapper">
        <div class=" profile-sec sticky-tour mt-3 contact">
          <div class="sticky-div fixedElement" style="/*position: fixed; top: 0px; width: 23.5%;*/">
            <div class="contact-tour">
              <ul class="nav row nav-pills mb-3 mt-3 d-flex justify-content-between" id="pills-tab" role="tablist">
                <li class="nav-item col-6 " style="padding-right: 2px;" role="presentation">
                  <button class="nav-link active ud-btn btn-primary" id="pills-tour-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-tour" type="button" role="tab" aria-controls="pills-tour"
                    aria-selected="true">Schedule
                    Tour</button>
                </li>
                <li class="nav-item tabs col-6" style="padding-left: 2px;" role="presentation">
                  <button class="nav-link ud-btn btn-primary" id="pills-contact-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                    aria-selected="false" tabindex="-1">Contact
                  </button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-tour" role="tabpanel" aria-labelledby="pills-tour-tab"
                  tabindex="0">
                  <h4>Schedule A Tour</h4>
                  <div id="dateSlotsContainer">
                    <div class="date_block" onclick="date_active(this)">
                      <span class="days">Monday</span>
                      <div class="digit ">
                        <p>25</p>
                      </div>
                      <span class="months">March</span>
                    </div>
                    <div class="date_block" onclick="date_active(this)">
                      <span class="days">Tuesday</span>
                      <div class="digit ">
                        <p>26</p>
                      </div>
                      <span class="months">March</span>
                    </div>
                    <div class="date_block" onclick="date_active(this)">
                      <span class="days">Wednesday</span>
                      <div class="digit ">
                        <p>27</p>
                      </div>
                      <span class="months">March</span>
                    </div>
                  </div>
                  <div class="slider-container">
                    <button class="slider-button left-arr" onclick="prevDates()"><i class="fa fa-angle-left"
                        aria-hidden="true"></i></button>
                    <button class="slider-button right-arr" onclick="nextDates()"><i class="fa fa-angle-right"
                        aria-hidden="true"></i></button>
                  </div>
                  <!-- <h6 class="fw-bold mt-4">Tour Type</h6> -->
                  <ul class="nav row nav-pills mb-3 mt-3 d-flex justify-content-between" id="pills-tab" role="tablist">
                    <li class="nav-item col-6 " style="padding-right: 2px;" role="presentation">
                      <button class="nav-link active ud-btn btn-primary" id="pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                        aria-selected="true">In
                        Person</button>
                    </li>
                    <li class="nav-item tabs col-6" style="padding-left: 2px;" role="presentation">
                      <button class="nav-link ud-btn btn-primary" id="pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-profile"
                        aria-selected="false" tabindex="-1">Video
                        Chat</button>
                    </li>
                  </ul>
                  <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                      aria-labelledby="pills-home-tab" tabindex="0">
                      <div>
                        <form id="tourForm">
                          <input type="hidden" name="_token" value="GRcLmny1MSwJ5IgOKZnX8CVsbSkZhekTo50NTr3V"
                            autocomplete="off">
                          <div class="input">
                            <input type="text" id="timeInput" placeholder="Time" name="time" class="flatpickr-input"
                              readonly="readonly">
                            <i class="ri-expand-up-down-line opacity-50"></i>
                          </div>
                          <div class="input mt-3">
                            <input type="text" id="tourname" placeholder="Name" name="name">
                          </div>
                          <div class="input mt-3">
                            <input type="text" id="tourphone" maxlength="10" placeholder="Phone" name="phone">
                          </div>
                          <div class="input mt-3">
                            <input type="email" placeholder="Email" name="email">
                          </div>
                          <textarea class="mt-3 txt-area " cols="42" rows="3" placeholder="Enter your Message"
                            name="message"></textarea>
                          <input type="hidden" id="selectedDateInput" name="selectedDate" value="">
                          <div class="chkbox">
                            <div class="mt-1 d-flex align-items-cente gap-2">
                              <input class="checkbox opacity-50" type="checkbox" name="" id="">
                              <p class="mb-0 fw-bold">I agree to <a href="/terms-and-conditions"
                                  class="text-decoration-none"><span class="px-1 fs-6">Terms
                                    of
                                    Use</span></a>
                              </p>
                            </div>
                            <div class="d-grid mt-2">
                              <button id="submitBtn" class="ud-btn btn-primary border-0" type="submit">Submit a
                                Tour
                                Request</button>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
                        tabindex="0">...s</div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"
                  tabindex="1">
                  <div class="contact-info" id="section10">
                    <div class="d-flex align-items-center justify-content-between ">
                      <h4 class="w-25">Contact Information</h4>
                      <a id="viewListingsLink"
                        href="https://mukeshswami.com/our-professionals/details/gloria-johnston-1"> <button
                          class="ud-btn btn-primary border-0">View
                          Listings</button></a>
                    </div>
                    <hr class="mt-4 mb-3">
                    <div class=" sm-align-items-start gap-3 d-flex flex-column flex-sm-row">
                      <div class="profile">
                        <img src="{{PropertyDetail.memberImageName}}" alt="Description of the image"
                          class="agent-img">
                      </div>
                      <div class="pro-info">
                        <div class="d-flex align-items-center gap-2">
                          <i class="fa fa-user-o" aria-hidden="true"></i>
                          <p class="agentname">{{PropertyDetail.memberFullName}}</p>
                        </div>
                        <div class="d-flex flex-column mt-2 ">
                          <div class="d-flex align-items-center gap-2"><i class="fa fa-phone" aria-hidden="true"></i>
                            <span><a class="phoneno" href="tel:{{PropertyDetail.memberDirectPhone}}">{{PropertyDetail.memberDirectPhone}}</a></span>
                          </div>
                          <div class="d-flex align-items-center gap-2" *ngIf="PropertyDetail.memberFax"><i class="fa fa-mobile" aria-hidden="true"></i>
                            <span><a class="contactno" href="tel:{{PropertyDetail.memberFax}}">{{PropertyDetail.memberFax}}</a></span>
                          </div>
                          <div class="d-flex align-items-center gap-2"><i class="fa fa-whatsapp" aria-hidden="true"></i>
                            <span>WhatsApp</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <h4 class="mt-4">Enquire About This Property</h4>
                    <hr class="mt-4 mb-3">
                    <div class="leave-rev">
                      <form id="contactForm">
                        <div class="row my-3">
                          <div class="col-12">
                            <h5>Name<span style="color: red;">*</span></h5>
                            <input type="text" id="contactname" placeholder="Enter your name" name="name">
                          </div>
                          <div class="col-12 mt-3">
                            <h5>Phone<span style="color: red;">*</span></h5>
                            <input type="text" id="contactphone" maxlength="10" placeholder="Enter your Phone"
                              name="phone">
                          </div>
                          <div class="col-12 mt-3">
                            <h5>Email<span style="color: red;">*</span></h5>
                            <input type="text" placeholder="Enter your Email" name="email">
                          </div>
                          <div class="col-12 mt-3">
                            <h5>I'm a <span style="color: red;">*</span></h5>
                            <div class="input-2 ">
                              <select name="role" class="select-boxes-filter cursor-pointer">
                                <option value="">Select</option>
                                <option value="Buyer">Buyer</option>
                                <option value="Agent">Agent</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div>
                          <h5>Message<span style="color: red;">*</span></h5>
                          <textarea placeholder="Write a review" name="message" cols="30" rows="10"
                            maxlength="200"></textarea>
                        </div>
                        <div class="chkbox">
                          <div class="mt-1 d-flex align-items-cente gap-2">
                            <input class="checkbox opacity-50" type="checkbox" name="" id="">
                            <p class="mb-0 fw-bold">I agree to <a href="/terms-and-conditions"
                                class="text-decoration-none"><span class="px-1 fs-6">Terms of
                                  Use</span></a>
                            </p>
                          </div>
                        </div>
                        <button type="submit" id="contactsubmit" class="ud-btn btn-primary mt-3 border-0">Request
                          Information</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt30 wow fadeInUp" data-wow-delay="700ms">
      <div class="col-lg-8">
        <div class="main-title2">
          <h2 class="title">Nearby Similar Homes</h2>
          <p class="paragraph">Aliquam lacinia diam quis lacus euismod</p>
        </div>
        <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">
          <div class="Similar-Listings my-5" id="section12">
            <h4>Similar Listings</h4>
            <hr class="mt-4 mb-3">
            <div class="row">
              <div class="col-12 col-sm-6">
                <div class="listing-style5">
                  <div class="list-thumb">
                    <img src="https://myproagents.com/storage/75050698/photo-75050698-1.jpeg" alt="A1226075"
                      onerror="this.src='https://mukeshswami.com/images/no_image.jpg';">
                    <div class="list-tag fz12">
                      <i class="fa-thin fa-star me-2"></i>Featured
                    </div>
                    <div class="list-meta2">
                      <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="" class="set-as-fav"
                        data-bs-original-title="Favourite">
                        <span class="flaticon-like"></span>
                      </a>
                      <a href="/property-detail/11000-114-avenue-se" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="" target="_blank" data-bs-original-title="Preview">
                        <span class="flaticon-fullscreen"></span>
                      </a>
                    </div>
                  </div>
                  <div class="list-content">
                    <div class="list-price mb-2">$7,400,000
                    </div>
                    <h6 class="list-title">
                      <a href="/property-detail/11000-114-avenue-se">
                        11000
                        114
                        Avenue,
                        Calgary,
                        Alberta
                      </a>
                    </h6>
                    <p class="list-text">Land</p>
                    <div class="list-meta d-flex align-items-center gap-3"></div>
                    <span class="mlsNumber">MLS® # A1226075</span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="listing-style5">
                  <div class="list-thumb">
                    <img src="https://myproagents.com/storage/77771908/photo-77771908-1.jpeg" alt="A1253927"
                      onerror="this.src='https://mukeshswami.com/images/no_image.jpg';">
                    <div class="list-tag fz12">
                      <i class="fa-thin fa-star me-2"></i>Featured
                    </div>
                    <div class="list-meta2">
                      <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="" class="set-as-fav"
                        data-bs-original-title="Favourite">
                        <span class="flaticon-like"></span>
                      </a>
                      <a href="/property-detail/7833-40-street-ne" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="" target="_blank" data-bs-original-title="Preview">
                        <span class="flaticon-fullscreen"></span>
                      </a>
                    </div>
                  </div>
                  <div class="list-content">
                    <div class="list-price mb-2">$2,700,000
                    </div>
                    <h6 class="list-title">
                      <a href="/property-detail/7833-40-street-ne">
                        7833
                        40
                        Street,
                        Calgary,
                        Alberta
                      </a>
                    </h6>
                    <p class="list-text">Land</p>
                    <div class="list-meta d-flex align-items-center gap-3"></div>
                    <span class="mlsNumber">MLS® # A1253927</span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="listing-style5">
                  <div class="list-thumb">
                    <img src="https://myproagents.com/storage/77942086/photo-77942086-1.jpeg" alt="A1255919"
                      onerror="this.src='https://mukeshswami.com/images/no_image.jpg';">
                    <div class="list-tag fz12">
                      <i class="fa-thin fa-star me-2"></i>Featured
                    </div>
                    <div class="list-meta2">
                      <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="" class="set-as-fav"
                        data-bs-original-title="Favourite">
                        <span class="flaticon-like"></span>
                      </a>
                      <a href="/property-detail/5277-28-avenue-se" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="" target="_blank" data-bs-original-title="Preview">
                        <span class="flaticon-fullscreen"></span>
                      </a>
                    </div>
                  </div>
                  <div class="list-content">
                    <div class="list-price mb-2">$1,382,500
                    </div>
                    <h6 class="list-title">
                      <a href="/property-detail/5277-28-avenue-se">
                        5277
                        28
                        Avenue,
                        Calgary,
                        Alberta
                      </a>
                    </h6>
                    <p class="list-text">Land</p>
                    <div class="list-meta d-flex align-items-center gap-3"></div>
                    <span class="mlsNumber">MLS® # A1255919</span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="listing-style5">
                  <div class="list-thumb">
                    <img src="https://myproagents.com/storage/77944745/photo-77944745-1.jpeg" alt="A1255945"
                      onerror="this.src='https://mukeshswami.com/images/no_image.jpg';">
                    <div class="list-tag fz12">
                      <i class="fa-thin fa-star me-2"></i>Featured
                    </div>
                    <div class="list-meta2">
                      <a href="" data-bs-toggle="tooltip" data-bs-placement="top" title="" class="set-as-fav"
                        data-bs-original-title="Favourite">
                        <span class="flaticon-like"></span>
                      </a>
                      <a href="/property-detail/5263-28-avenue-se" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="" target="_blank" data-bs-original-title="Preview">
                        <span class="flaticon-fullscreen"></span>
                      </a>
                    </div>
                  </div>
                  <div class="list-content">
                    <div class="list-price mb-2">$1,105,000
                    </div>
                    <h6 class="list-title">
                      <a href="/property-detail/5263-28-avenue-se">
                        5263
                        28
                        Avenue,
                        Calgary,
                        Alberta
                      </a>
                    </h6>
                    <p class="list-text">Land</p>
                    <div class="list-meta d-flex align-items-center gap-3"></div>
                    <span class="mlsNumber">MLS® # A1255945</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <div class="fixed-tabs" id="navbar" >
   <div class="top-tabs">
     <h4 onclick="scrollToSection('section1')">Description</h4>
     <h4 onclick="scrollToSection('section2')">Address</h4>
     <h4 onclick="scrollToSection('section3')">Details</h4>
     <h4 onclick="scrollToSection('section4')" class="feat">Features</h4>
     <h4 onclick="scrollToSection('section5')">Floor Plans</h4>
     <h4 onclick="scrollToSection('section13')">Mortgage Calculator</h4>
     <h4 onclick="scrollToSection('section6')" class="vidtab" style="display: none;">Video</h4>
     <h4 onclick="scrollToSection('section7')" class="tourtab" style="display: none;">360* Virtual Tour</h4>
     <h4 onclick="scrollToSection('section8')">Walk Score</h4>
     <h4 onclick="scrollToSection('section9')">What's Nearby?</h4>
     <h4 onclick="scrollToSection('section10')">Contact</h4>
     <h4 onclick="scrollToSection('section11')">Reviews</h4>
     <h4 onclick="scrollToSection('section12')">Similar Listings</h4>
   </div>
   </div> -->