.slider-container3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.row.carouselcustom.px-3 {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.slider-button3 {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  cursor: pointer;
  background-color: #10579f;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 26px;
}
.left-arr2 {
  position: absolute;
  top: 30px;
  left: -15px;
}
.right-arr2 {
  position: absolute;
  top: 30px;
  right: -15px;
}
.left-arr3 {
  position: absolute;
  top: 180px;
  left: 30px;
}
.right-arr3 {
  position: absolute;
  top: 180px;
  right: 30px;
}
.left-arr4 {
  position: absolute;
  top: 300px;
  left: 30px;
}
.right-arr4 {
  position: absolute;
  top: 300px;
  right: 30px;
}
.profile-sec {
  padding-left: 3rem;
}
.contact-info .profile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.contact-info .profile {
  height: 100px;
  width: 100px;
  border-radius: 4px;
  overflow: hidden;
}
.leave-rev h5 {
  font-size: 14px;
  font-weight: 600;
  color: var(--bs-heading-color);
}
.leave-rev input {
  outline: none;
  margin-top: 1rem;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 42px;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid #dce0e0;
}
.select-boxes-filter {
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
}
.input-2 {
  margin-top: 1rem;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 42px;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid #dce0e0;
}
.chkbox input {
  margin: 7px 0;
  height: 21px !important;
  width: 20px !important;
}
.chkbox span {
    font-weight: 500;
  color: #18a0fb;
}
.sticky-wrapper {
  height: 100vh;
}
.sticky-div {
  padding: 20px;
  position: relative;
  background-color: #fff;
}
#dateSlotsContainer {
  padding: 0 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.slider-button {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  cursor: pointer;
  /* padding: 5px 10px; */
  background-color: #10579f;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 26px;
}
.left-arr {
  position: absolute;
  top: 180px;
  left: 10px;
}
.nav-pills .nav-link {
  font-weight: 700;
  width: 100%;
  padding: 10px;
  color: #000;
  border: 1px solid rgba(57, 57, 57, 0.315);
background-color: #fff;
}
.sticky-div h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 1rem;
  letter-spacing: -0.36px;
}
#dateSlotsContainer {
  padding: 0 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.date_block {
  cursor: pointer;
  background: #10579fad;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  color: #fff;
}
.date_block p {
  margin-top: -20px;
  height: 56px;
  color: #fff;
  font-weight: 600;
  font-size: 39px;
  margin-bottom: 0;
}
.slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.left-arr {
  position: absolute;
  top: 180px;
  left: 10px;
}
.right-arr {
  position: absolute;
  top: 180px;
  right: 9px;
}
.input input {
  width: 100%;
  border: none;
  outline: none;
}
.input {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #dadada;
}
.nav-pills .nav-link:hover {
  color: #fff !important;
}

.carousel-container {
  position: relative;
  margin: auto;
  text-align: center;
  width: 100%; 
  cursor: pointer;
}

.carouselcustom img {
  width: 100% !important;
  cursor: pointer;
}

.carousel-container img{
  display: none;
  width: 100%;

}

.set-img {
  height: 450px;
}

.set-imgg {
  height: 620px;
}

.set-imgg img{
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.set-img-2 {
  height: 90px;
}
.set-img img, .set-img-2 img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.btn-carousel{
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
}
.carousel-container img.image-active{
  display: block;
  width: 100%;
}

.fade-in-image { animation: fadeIn 1s; }

.image-active {
  background-color: #000;
}


.slider-button {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  cursor: pointer;
  /* padding: 5px 10px; */
  background-color: #10579f;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 26px;
}
.Awesome-Interior .right h4 {
  margin-top: 10px;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.36px;
}
#additionalDetails{
  margin-top: 3rem !important;
}
.carouselcustom .col-6.col-sm-4.col-md {
  padding: 0 2px;
}
.bannercarousel{
border-radius: 5px;
}
.property-dtls p {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.24px;
}
.contact-sticky {
  position: fixed;
  top: 110px;
  width: 352px;
  animation: smoothScroll 0.5s forwards;
  /* z-index: -1; */
}
.property-dtls .box {
  background-color: rgba(0, 174, 255, 0.1);
  border: 1px solid #00aeff;
  border-radius: 4px;
  padding: 1rem;
}

.nav-pills .nav-link.active {
  color: #fff !important;
  border: 1px solid #10579f;
  background-color: #10579f !important;
}

.is-sticky {
    display: block !important;
    top: 5rem;
    transition: all .7s;
  }

  .overview{
    padding: 1rem !important;
  }
  .listing-style5 img {
    height: 220px;
    width: 100%;
    object-fit: cover;
    max-height: 220px;
}


 h4 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px !important;
    letter-spacing: -0.36px;
}
.property-dtls h4 {
  color: #000;
  margin-bottom: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.36px;
}
h1.sp-lg-title{
    font-family: var(--heading-font);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.72px;
    color: #000;
}
.mortgage-circle {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mortgage-price {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
.val h6 {
    font-size: 15px;
    font-style: normal;
    margin-bottom: 0;
    font-weight: 600;
    letter-spacing: -0.36px;
color: #000;
}
.hrcustom hr{
    margin: 0.2rem 0 !important;
}
.mortgage-calc .inp {
    outline: none;
    margin-top: 1rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 42px;
    width: 100%;
    border-radius: 0.25rem;
    border: 1px solid #dce0e0;
}
.mortgage-calc .inp .icons {
    display: flex;
    opacity: 0.7;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 41px;
    border-right: 1px solid #dce0e0;
}
.mortgage-calc .inp input {
    width: 82%;
    border: none;
    outline: none;
}
.row.mt-5.mt-sm-3.inputs {
    margin-top: 4rem !important;
}
.mortgage-calc .inputs h6 {
    font-size: 15px;
    font-style: normal;
    margin-bottom: 0;
    font-weight: 600;
    letter-spacing: -0.36px;
    color: #000;
}

.fixed-tabs {
  position: fixed;
  top: 132px;
  left: 0;
  width: 100%;
  /* display: none;  */
  z-index: 999999999999999999;
}
.buttons button {
    padding: 3px 10px;
    font-size: 13px;
    border-radius: 2px;
    color: #fff;
    border: none;
    background: #4e4e4e;
    cursor: pointer;
  }
.top-tabs {
  background: #fff;
  box-shadow: 0 2px 0px 0px #68686814;
  padding: 0 30px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 99999999999;
  border-bottom: 1px solid #ccc;
}
.top-tabs h4 {
  font-weight: 600;
  cursor: pointer;
  font-size: 13px;
  margin-bottom: 0;
  color: #8E9092;
  color: var(--headings-color);
}

.overview {
    padding: 2rem;
    background: #fff;
}
.overview h4 {
    font-size: 20px;
}
.overview p {
    color: #5c6872;
    font-weight: 400;
    font-size: 16px;
}
.overview i {
    font-size: 18px;
}
h6, .h6 {
  font-size: 15px;
  font-family: var(--body-font-family);
  font-weight: 600;
  color: var(--headings-secondary-color);
}
.table>:not(caption)>*>* {
  padding: 0rem 0.5rem;
 
}
p{
  font-size: 16px;
}
.overview h6 {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0;
    letter-spacing: -0.36px;
}

.about {
    background: #fff;
    padding: 2rem;
}
.about h4 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.36px;
}

.btn-primary {
                background-color: var(--primary-500);
                border-color: var(--primary-500);
              }

              .ud-btn {
                text-decoration: none;
                border-radius: 8px;
                display: inline-block;
                font-family: var(--title-font-family);
                font-weight: 600;
                font-size: 15px;
                font-style: normal;
                letter-spacing: 0em;
                padding: 13px 20px;
                position: relative;
                overflow: hidden;
                text-align: center;
                z-index: 0;
                -webkit-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
                -ms-transition: all 0.4s ease;
                -o-transition: all 0.4s ease;
                transition: all 0.4s ease;
              }
              .address h4 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.36px;
}

@media screen and (max-width: 1400px) {
  .fixed-tabs {
    top: 120px;
  }
}

@media screen and (max-width: 1200px) {
  .top-tabs {
    overflow-x: scroll;
    white-space: nowrap;
    gap: 2rem;
  }
  .fixed-tabs {
    top: 120px;
  }
}
@media screen and (max-width: 991px) {
  .fixed-tabs {
    top: 64px;
  }
}
.carouselcustom .col-2{
  padding-left: 4px;
  padding-right: 4px;
}