<section class="home-banner-style3 p0">
  <div class="home-style3">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 advance-style3 inner-banner-style3">
          <div class="d-flex flex-column justify-content-center p-3">
            <h2 class="hero-title animate-up-1 text-shadow text-white">
              REAL ESTATE PROFESSIONALS <br />you can count on!
            </h2>
            <p class="text-white text-shadow fs-6">
              Go With the Pros! Since 2002, we’ve made home buying and
              selling in Calgary and surrounding areas SIMPLE, STRESS
              FREE and STRAIGHT FORWARD for our clients.
            </p>
          </div>
          <div class="advance-style3 mx-auto animate-up-2">
            <ul class="nav nav-tabs p-0 m-0" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                  role="tab" aria-controls="home" aria-selected="true">
                  Buy
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                  role="tab" aria-controls="profile" aria-selected="false">
                  Sell
                </button>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="advance-content-style3">
                  <div class="row">
                    <div class="col-md-7 col-lg-7">
                      <div class="advance-search-field position-relative text-start">
                        <form action="#" method="get" class="form-search position-relative" accept-charset="utf-8">
                          <div class="box-search">
                            <span class="icon flaticon-home-1"></span>
                            <input class="form-control bgc-f7 bdrs12" type="text" name="search"
                              placeholder="Search by address, neighborhood, city or postal code." />
                          </div>
                        </form>
                      </div>
                    </div>
                    <div class="col-md-5 col-lg-5">
                      <div
                        class="d-flex gap-3 align-items-center justify-content-start justify-content-md-center mt-3 mt-md-0">
                        <button class="advance-search-btn" type="button" data-bs-toggle="modal"
                          data-bs-target="#exampleModal">
                          <span class="flaticon-settings"></span>
                          Advanced
                        </button>
                        <button class="ud-btn btn-primary" type="button">
                          Search
                          <!-- <span class="flaticon-search"></span> -->
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="at-home5">
                  <div class="row align-items-center">
                    <div class="col bdrr1 bdrrn-sm">
                      <input class="form-control bgc-f7 bdrs12 border-0" type="text" name="search"
                        placeholder="Enter Your Address" />
                    </div>
                    <div class="col">
                      <input class="form-control bgc-f7 bdrs12 border-0" type="text" name="search"
                        placeholder="Enter Your Email" />
                    </div>

                    <div class="submitBoxWidth">
                      <div class="d-flex align-items-center justify-content-end mt-2 mt-md-0 me-2">
                        <button class="ud-btn btn-thm" type="button">
                          Submit
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Diamond Property -->
<!-- bgc-thm -->
<section class="pb50 pt120 pb30-md bgc-gray">
  <div class="container">
    <div class="row wow fadeInUp align-items-center" data-wow-delay="00ms">
      <div class="col-lg-9">
        <div class="main-title2 mb-3">
          <h2 class="title">Diamond Listings</h2>
          <p class="paragraph">
            Here’s an inside look into our amazing luxury listings
            currently on the MLS system.
          </p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="dark-light-navtab style2 text-start text-lg-end mt-0 mt-lg-4 mb-4">
          <div class="text-start text-lg-end mb-3">
            <a class="ud-btn btn-outline-rep" href="#">See All Diamond Listings<i
                class="fal fa-arrow-right-long dark-color"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="diamondProperties">
      <div class="col-sm-6 col-lg-4 col-xl-3" *ngFor="let property of diamondProperties">
        <div class="listing-style5">
          <div class="list-thumb">
            <img src="{{property.image_url}}" alt="{{property.listingKeyNumeric}}">

            <div class="list-tag fz12">
              <i class="fa-thin fa-gem me-2"></i>Diamond
            </div>
            <div class="list-meta2">
              <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" title="Favourite"
                class="set-as-fav">
                <span class="flaticon-like"></span>
              </a>
              <a href="https://mukeshswami.com/property-detail/{{property.listingId}}" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Preview" target="_blank">
                <span class="flaticon-fullscreen"></span>
              </a>
            </div>
          </div>
          <div class="list-content">
            <div class="list-price mb-2">${{property.listPrice}}</div>
            <h6 class="list-title">
              <a href="https://mukeshswami.com/property-detail/{{property.listingId}}">{{property.city}}, {{property.stateOrProvince}}</a>
            </h6>

            <p class="list-text">{{property.propertyType}}</p>
            <div class="list-meta d-flex align-items-center gap-3">


              <a href="#"><span class="flaticon-expand"></span>{{property.livingAreaSF}} sqft</a>
            </div>
            <span class="mlsNumber">MLS® # {{property.listingId}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Explore Apartment -->

<!-- Why Chose Us -->
<section>
  <div class="container">
    <div class="row justify-content-center wow fadeInRight" data-wow-delay="300ms">
      <div class="col-md-5">
        <div class="position-relative mb30-md text-center">
          <img class="img profileImg" src="../../../assets/images/about/whyChooseRep.webp" alt="" />
        </div>
      </div>
      <div class="col-md-7 wow fadeInLeft" data-wow-delay="500ms">
        <div class="main-title2">
          <h2 class="title">
            Why REP is a Perfect Choice for Clients?
          </h2>
          <!-- <p class="paragraph fz15">
                    As the complexity of buildings to increase, the
                    <br class="d-none d-lg-block" />
                    field of architecture.
                  </p> -->
        </div>
        <div class="why-chose-list">
          <div class="list-one d-flex align-items-start mb30">
            <i class="flex-shrink-0 list-icon">
              <svg class="icon icon-computer">
                <use xlink:href="../../../assets/images/about/whyChooseRep.svg#icon-user-experience"></use>
              </svg>
            </i>
            <div class="list-content flex-grow-1 ml20">
              <h6 class="mb-1 text-dark primary-font">
                We’re your Pro!
              </h6>
              <p class="text mb-0 fz15">
                Forget the stress. Our agents are excellent guides in
                navigating the complex real estate market. We take a
                service-based approach and guide you step-by-step
                throughout your real estate transaction from beginning
                to end, in your corner, helping you close your deal and
                avoid costly mistakes.
              </p>
            </div>
          </div>
          <div class="list-one d-flex align-items-start mb30">
            <i class="flex-shrink-0 list-icon">
              <svg class="icon icon-computer">
                <use xlink:href="../../../assets/images/about/whyChooseRep.svg#icon-realtor"></use>
              </svg>
            </i>
            <div class="list-content flex-grow-1 ml20">
              <h6 class="mb-1 text-dark primary-font">
                We’re REALLY Well Connected!
              </h6>
              <p class="text mb-0 fz15">
                As one of Alberta’s largest real estate brokerages, we
                know a lot of people who can assist you in buying and
                selling your home! Not only do we have an internal
                network of 350+ Realtors, spanning a multitude of
                different areas of real estate practice, but we’ve also
                forged strong relationships through our preferred
                third-party vendors (like electricians, plumbers,
                lawyers, mortgage brokers, and more) all working
                together to help you market, sell or purchase your dream
                home.
              </p>
            </div>
          </div>
          <div class="list-one d-flex align-items-start mb30">
            <i class="flex-shrink-0 list-icon">
              <svg class="icon icon-computer">
                <use xlink:href="../../../assets/images/about/whyChooseRep.svg#icon-computer"></use>
              </svg>
            </i>
            <div class="list-content flex-grow-1 ml20">
              <h6 class="mb-1 text-dark primary-font">
                Stay In A Brighter Spotlight!
              </h6>
              <p class="text mb-0 fz15">
                Our sellers benefit immensely from our large internal
                network of 350+ Realtors, across Calgary and the
                surrounding area. Our agents market your home – both
                within our brokerage to our ever-growing agent pool –
                but also on the MLS system to the rest of the world!
                This results in more people coming across your home’s
                listing than the average brokerage.
              </p>
            </div>
          </div>
          <div class="list-one d-flex align-items-start">
            <i class="fa-regular fa-check flex-shrink-0 list-icon" style="opacity: 0"></i>
            <a class="ud-btn btn-primary ml20">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Popular Property -->
<section class="bgc-gray py50">
  <div class="container">
    <div class="row wow fadeInUp align-items-center" data-wow-delay="00ms">
      <div class="col-lg-9">
        <div class="main-title2 mb-0">
          <h2 class="title">Featured Listings</h2>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="dark-light-navtab style2 text-start text-lg-end mt-0 mt-lg-4 mb-4">
          <div class="text-start text-lg-end mb-3">
            <a class="ud-btn btn-outline-rep" href="#">See All Featured Listings<i
                class="fal fa-arrow-right-long dark-color"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="featuredProperties">
      <div class="col-lg-12 wow fadeInUp" data-wow-delay="300ms">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="row">
              
              <div class="col-sm-6 col-lg-4 col-xl-3" *ngFor="let property of featuredProperties">
                <div class="listing-style5">
                    <div class="list-thumb">
                        <img *ngIf="property.image_url!== ''" src="{{ property.image_url}}" alt="A2073668" onerror="this.src='https://mukeshswami.com/images/no_image.jpg';">
    
                        <div class="list-tag fz12">
                            <i class="fa-thin fa-gem me-2"></i>Featured
                        </div>
                        <div class="list-meta2">
                            <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" title="Favourite" class="set-as-fav">
                                <span class="flaticon-like"></span>
                            </a>
                            <a href="https://mukeshswami.com/property-detail/{{property.listingId}}" data-bs-toggle="tooltip" data-bs-placement="top" title="Preview" target="_blank">
                                <span class="flaticon-fullscreen"></span>
                            </a>
                        </div>
                    </div>
                    <div class="list-content">
                        <div class="list-price mb-2" *ngIf="property.listPrice!== ''">${{property.listPrice}}</div>
                        <h6 class="list-title">
            
                            <a href="https://mukeshswami.com/property-detail/{{property.listingId}}">{{property.unparsedAddress}}{{property.city}}, {{property.stateOrProvince}}</a></h6>
                            
                        <p *ngIf="property.propertyType!== ''" class="list-text">{{property.propertyType}}</p>
                        <div class="list-meta d-flex align-items-center gap-3"> 
                            <a href="#" *ngIf="property.buildingAreaTotalSF!== ''"><span class="flaticon-expand"></span>{{property.buildingAreaTotalSF}} sqft</a>
                        </div>
                        <div class="list-meta d-flex align-items-center gap-3">
                          <a href="#" *ngIf="property.bedroomsTotal!== ''"><span class="flaticon-bed"></span>{{property.bedroomsTotal}} bed</a>
                          <a href="#" *ngIf="property.bathroomsFull!== ''"><span class="flaticon-shower"></span>{{property.bathroomsFull}} bath</a>
                          <a href="#" *ngIf="property.livingAreaSF!== ''"><span class="flaticon-expand"></span>{{property.livingAreaSF}} sqft</a>
                      </div>
                        <span *ngIf="property.listingId!== ''" class="mlsNumber">MLS® # {{property.listingId}}</span>
                    </div>
                </div>
              </div>

              <!-- <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="listing-style5">
                    <div class="list-thumb">
                        <img src="https://myproagents.com/storage/85452790/photo-85452790-1.jpeg" alt="A2073668" onerror="this.src='https://mukeshswami.com/images/no_image.jpg';">
    
                        <div class="list-tag fz12">
                            <i class="fa-thin fa-gem me-2"></i>Diamond
                        </div>
                        <div class="list-meta2">
                            <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" title="Favourite" class="set-as-fav">
                                <span class="flaticon-like"></span>
                            </a>
                            <a href="https://mukeshswami.com/property-detail/A2073668" data-bs-toggle="tooltip" data-bs-placement="top" title="Preview" target="_blank">
                                <span class="flaticon-fullscreen"></span>
                            </a>
                        </div>
                    </div>
                    <div class="list-content">
                        <div class="list-price mb-2">$1,200,000</div>
                        <h6 class="list-title">
                            <a href="https://mukeshswami.com/property-detail/A2073668">Calgary, Alberta</a></h6>
                            
                        <p class="list-text">Commercial</p>
                        <div class="list-meta d-flex align-items-center gap-3">
                            
                            
                            <a href="#"><span class="flaticon-expand"></span>2178 sqft</a>
                        </div>
                        <span class="mlsNumber">MLS® # A2073668</span>
                    </div>
                </div>
              </div>

              <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="listing-style5">
                    <div class="list-thumb">
                        <img src="https://myproagents.com/storage/85452790/photo-85452790-1.jpeg" alt="A2073668" onerror="this.src='https://mukeshswami.com/images/no_image.jpg';">
    
                        <div class="list-tag fz12">
                            <i class="fa-thin fa-gem me-2"></i>Diamond
                        </div>
                        <div class="list-meta2">
                            <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" title="Favourite" class="set-as-fav">
                                <span class="flaticon-like"></span>
                            </a>
                            <a href="https://mukeshswami.com/property-detail/A2073668" data-bs-toggle="tooltip" data-bs-placement="top" title="Preview" target="_blank">
                                <span class="flaticon-fullscreen"></span>
                            </a>
                        </div>
                    </div>
                    <div class="list-content">
                        <div class="list-price mb-2">$1,200,000</div>
                        <h6 class="list-title">
                            <a href="https://mukeshswami.com/property-detail/A2073668">Calgary, Alberta</a></h6>
                            
                        <p class="list-text">Commercial</p>
                        <div class="list-meta d-flex align-items-center gap-3">
                            
                            
                            <a href="#"><span class="flaticon-expand"></span>2178 sqft</a>
                        </div>
                        <span class="mlsNumber">MLS® # A2073668</span>
                    </div>
                </div>
              </div>

              <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="listing-style5">
                    <div class="list-thumb">
                        <img src="https://myproagents.com/storage/85452790/photo-85452790-1.jpeg" alt="A2073668" onerror="this.src='https://mukeshswami.com/images/no_image.jpg';">
    
                        <div class="list-tag fz12">
                            <i class="fa-thin fa-gem me-2"></i>Diamond
                        </div>
                        <div class="list-meta2">
                            <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" title="Favourite" class="set-as-fav">
                                <span class="flaticon-like"></span>
                            </a>
                            <a href="https://mukeshswami.com/property-detail/A2073668" data-bs-toggle="tooltip" data-bs-placement="top" title="Preview" target="_blank">
                                <span class="flaticon-fullscreen"></span>
                            </a>
                        </div>
                    </div>
                    <div class="list-content">
                        <div class="list-price mb-2">$1,200,000</div>
                        <h6 class="list-title">
                            <a href="https://mukeshswami.com/property-detail/A2073668">Calgary, Alberta</a></h6>
                            
                        <p class="list-text">Commercial</p>
                        <div class="list-meta d-flex align-items-center gap-3">
                            
                            
                            <a href="#"><span class="flaticon-expand"></span>2178 sqft</a>
                        </div>
                        <span class="mlsNumber">MLS® # A2073668</span>
                    </div>
                </div>
              </div> -->

              <!-- <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="listing-style5">
                    <div class="list-thumb">
                        <img src="https://myproagents.com/storage/85452790/photo-85452790-1.jpeg" alt="A2073668" onerror="this.src='https://mukeshswami.com/images/no_image.jpg';">
    
                        <div class="list-tag fz12">
                            <i class="fa-thin fa-gem me-2"></i>Diamond
                        </div>
                        <div class="list-meta2">
                            <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" title="Favourite" class="set-as-fav">
                                <span class="flaticon-like"></span>
                            </a>
                            <a href="https://mukeshswami.com/property-detail/A2073668" data-bs-toggle="tooltip" data-bs-placement="top" title="Preview" target="_blank">
                                <span class="flaticon-fullscreen"></span>
                            </a>
                        </div>
                    </div>
                    <div class="list-content">
                        <div class="list-price mb-2">$1,200,000</div>
                        <h6 class="list-title">
                            <a href="https://mukeshswami.com/property-detail/A2073668">Calgary, Alberta</a></h6>
                            
                        <p class="list-text">Commercial</p>
                        <div class="list-meta d-flex align-items-center gap-3">
                            
                            
                            <a href="#"><span class="flaticon-expand"></span>2178 sqft</a>
                        </div>
                        <span class="mlsNumber">MLS® # A2073668</span>
                    </div>
                </div>
              </div> -->

              <!-- <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="listing-style5">
                    <div class="list-thumb">
                        <img src="https://myproagents.com/storage/85452790/photo-85452790-1.jpeg" alt="A2073668" onerror="this.src='https://mukeshswami.com/images/no_image.jpg';">
    
                        <div class="list-tag fz12">
                            <i class="fa-thin fa-gem me-2"></i>Diamond
                        </div>
                        <div class="list-meta2">
                            <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" title="Favourite" class="set-as-fav">
                                <span class="flaticon-like"></span>
                            </a>
                            <a href="https://mukeshswami.com/property-detail/A2073668" data-bs-toggle="tooltip" data-bs-placement="top" title="Preview" target="_blank">
                                <span class="flaticon-fullscreen"></span>
                            </a>
                        </div>
                    </div>
                    <div class="list-content">
                        <div class="list-price mb-2">$1,200,000</div>
                        <h6 class="list-title">
                            <a href="https://mukeshswami.com/property-detail/A2073668">Calgary, Alberta</a></h6>
                            
                        <p class="list-text">Commercial</p>
                        <div class="list-meta d-flex align-items-center gap-3">
                            
                            
                            <a href="#"><span class="flaticon-expand"></span>2178 sqft</a>
                        </div>
                        <span class="mlsNumber">MLS® # A2073668</span>
                    </div>
                </div>
              </div> -->

              <!-- <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="listing-style5">
                    <div class="list-thumb">
                        <img src="https://myproagents.com/storage/85452790/photo-85452790-1.jpeg" alt="A2073668" onerror="this.src='https://mukeshswami.com/images/no_image.jpg';">
    
                        <div class="list-tag fz12">
                            <i class="fa-thin fa-gem me-2"></i>Diamond
                        </div>
                        <div class="list-meta2">
                            <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" title="Favourite" class="set-as-fav">
                                <span class="flaticon-like"></span>
                            </a>
                            <a href="https://mukeshswami.com/property-detail/A2073668" data-bs-toggle="tooltip" data-bs-placement="top" title="Preview" target="_blank">
                                <span class="flaticon-fullscreen"></span>
                            </a>
                        </div>
                    </div>
                    <div class="list-content">
                        <div class="list-price mb-2">$1,200,000</div>
                        <h6 class="list-title">
                            <a href="https://mukeshswami.com/property-detail/A2073668">Calgary, Alberta</a></h6>
                            
                        <p class="list-text">Commercial</p>
                        <div class="list-meta d-flex align-items-center gap-3">
                            
                            
                            <a href="#"><span class="flaticon-expand"></span>2178 sqft</a>
                        </div>
                        <span class="mlsNumber">MLS® # A2073668</span>
                    </div>
                </div>
              </div> -->

              <!-- <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="listing-style5">
                    <div class="list-thumb">
                        <img src="https://myproagents.com/storage/85452790/photo-85452790-1.jpeg" alt="A2073668" onerror="this.src='https://mukeshswami.com/images/no_image.jpg';">
    
                        <div class="list-tag fz12">
                            <i class="fa-thin fa-gem me-2"></i>Diamond
                        </div>
                        <div class="list-meta2">
                            <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" title="Favourite" class="set-as-fav">
                                <span class="flaticon-like"></span>
                            </a>
                            <a href="https://mukeshswami.com/property-detail/A2073668" data-bs-toggle="tooltip" data-bs-placement="top" title="Preview" target="_blank">
                                <span class="flaticon-fullscreen"></span>
                            </a>
                        </div>
                    </div>
                    <div class="list-content">
                        <div class="list-price mb-2">$1,200,000</div>
                        <h6 class="list-title">
                            <a href="https://mukeshswami.com/property-detail/A2073668">Calgary, Alberta</a></h6>
                            
                        <p class="list-text">Commercial</p>
                        <div class="list-meta d-flex align-items-center gap-3">
                            
                            
                            <a href="#"><span class="flaticon-expand"></span>2178 sqft</a>
                        </div>
                        <span class="mlsNumber">MLS® # A2073668</span>
                    </div>
                </div>
              </div> -->

              
              
              
              
              
              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- bgred-thm  -->
<section class="py90 bcg-primary py-5">
  <div class="container">
    <!-- <div class="space100"></div> -->
    <div class="row rep-style-3">
      <div class="col-md-6 col-lg-3">
        <h2 class="title text-white">
          Why REP is a Perfect Choice <br />for Realtors?
        </h2>
        <button class="ud-btn btn-outline-white mt-4">
          Learn more
        </button>
      </div>
      <div class="col-md-6 col-lg-3 bt-floating">
        <img src="../../../assets/images/home/established-Reputation.webp" class="whyrepIcons mb20" />
        <!-- <h3 class="text-BlueA400">01.</h3> -->
        <h4 class="text-white">More Money In Your Pocket!</h4>
        <p class="text-white">
          Unlike other brokerages, Real Estate Professionals Inc. prides
          itself in offering one of the lowest brokerage fee structures
          and monthly administrative charges to our agents. This means,
          more money in your pocket – where it belongs!
        </p>
      </div>
      <div class="col-md-6 col-lg-3 bt-floating">
        <img src="../../../assets/images/home/comprehensiveSupport.webp" class="whyrepIcons mb20" />
        <!-- <h3 class="text-BlueA400">02.</h3> -->
        <h4 class="text-white">We’ve Got Your Back!</h4>
        <p class="text-white">
          It all begins with our class leading conveyancing services,
          which starts with our detailed contract reviews from the
          moment we receive your paperwork all the way to our fast turn
          around-time on commission payouts post-closing. On top of
          that, our brokerage offers accessible and supportive
          management and legal staff to help guide you throughout your
          real estate transactions – even after-hours – to ensure your
          deals get done!
        </p>
      </div>
      <div class="col-md-6 col-lg-3 bt-floating">
        <img src="../../../assets/images/home/lucrative.webp" class="whyrepIcons mb20" />
        <!-- <h3 class="text-BlueA400">03.</h3> -->
        <h4 class="text-white">Work and Play Hard!</h4>
        <p class="text-white">
          Continuing professional development is key to being a great
          Realtor! As such, Real Estate Professionals provides free
          in-person brokerage-wide meetings for our Realtors to attend
          to so they can hear and learn from some of the top industry
          leading professionals in real estate. Our brokerage also
          offers a one-to-one Mentorship Program coupling new associates
          with our vetted group of experienced Realtors so our
          associates get practical real-life training on the job. It’s
          not all work all the time at the brokerage, we also offer
          numerous social events throughout the year for our agents and
          families to attend.
        </p>
      </div>
    </div>
    <div class="row"></div>
    <!-- <div class="space100"></div> -->
  </div>
</section>









<!-- Listing by communities -->
<section class="pb30-md bgc-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="main-title wow fadeInUp mb-4" data-wow-delay="100ms">
          <h2 class="title">Listing by Communities</h2>
          <p class="paragraph">
            EXPLORE THE COMMUNITIES YOU LOVE in Calgary and Surrounding
            Neighborhoods
          </p>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-12">
        <!-- <div class="comunities navi_pagi_top_right slider-5-grid owl-carousel owl-theme wow fadeInUp"
          data-wow-delay="300ms"> -->
          <div class="comunities navi_pagi_top_right slider-5-grid wow fadeInUp"
          data-wow-delay="300ms">

            <!-- <div class="item">
              <a href="#">
                <div class="apartment-style1">
                  <div class="apartment-img">
                    <img class="w-100" src="https://calgaryhomes.ca/thumbs/282x195/uploads/calgary-city-centre.jpg"
                      alt="" />
                  </div>
                  <div class="apartment-content">
                    <h6 class="title mb-0">City Center</h6>
                    <p class="text mb-0">22 Properties</p>
                  </div>
                </div>
              </a>
            </div> -->

            <ng-image-slider [imageSize]="{height: 330 , space: 5}" (imageClick)="alert()" [images]="imageObject" [imagePopup]="false" #nav></ng-image-slider>


          <!-- <div class="item">
            <a href="#">
              <div class="apartment-style1">
                <div class="apartment-img">
                  <img class="w-100" src="../../../assets/images/home/north.webp" alt="" />
                </div>
                <div class="apartment-content">
                  <h6 class="title mb-0">North Calgary</h6>
                  <p class="text mb-0">22 Properties</p>
                </div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="#">
              <div class="apartment-style1">
                <div class="apartment-img">
                  <img class="w-100" src="../../../assets/images/home/north-East.webp" alt="" />
                </div>
                <div class="apartment-content">
                  <h6 class="title mb-0">North East Calgary</h6>
                  <p class="text mb-0">22 Properties</p>
                </div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="#">
              <div class="apartment-style1">
                <div class="apartment-img">
                  <img class="w-100" src="../../../assets/images/home/east-west.webp" alt="" />
                </div>
                <div class="apartment-content">
                  <h6 class="title mb-0">East Calagary</h6>
                  <p class="text mb-0">22 Properties</p>
                </div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="#">
              <div class="apartment-style1">
                <div class="apartment-img">
                  <img class="w-100" src="../../../assets/images/home/south-east.webp" alt="" />
                </div>
                <div class="apartment-content">
                  <h6 class="title mb-0">South East Calgary</h6>
                  <p class="text mb-0">22 Properties</p>
                </div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="#">
              <div class="apartment-style1">
                <div class="apartment-img">
                  <img class="w-100" src="../../../assets/images/home/south-west.webp" alt="" />
                </div>
                <div class="apartment-content">
                  <h6 class="title mb-0">South Calgary</h6>
                  <p class="text mb-0">22 Properties</p>
                </div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="#">
              <div class="apartment-style1">
                <div class="apartment-img">
                  <img class="w-100" src="../../../assets/images/home/north-west.webp" alt="" />
                </div>
                <div class="apartment-content">
                  <h6 class="title mb-0">North West Calgary</h6>
                  <p class="text mb-0">10 Properties</p>
                </div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="#">
              <div class="apartment-style1">
                <div class="apartment-img">
                  <img class="w-100" src="../../../assets/images/home/west-calgary.webp" alt="" />
                </div>
                <div class="apartment-content">
                  <h6 class="title mb-0">West Calgary</h6>
                  <p class="text mb-0">22 Properties</p>
                </div>
              </div>
            </a>
          </div> -->

        </div>
      </div>
    </div>
  </div>
</section>
<!-- End -->











<!-- Explore Apartment -->
<!-- <section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="main-title2 mb-4">
          <h2 class="title">
            Calgary and Surrounding Area Housing Statistics
          </h2>
          <div *ngIf="featuredProperties">
            <h1>Hi</h1>
            <ul>
              <li *ngFor="let property of featuredProperties">{{ property.id }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <canvas id="buyers" width="600" height="245"></canvas>
      </div>
      <div class="col-lg-4 mb30-md wow fadeInUp" data-wow-delay="100ms">
        <div class="card h-100">
          <div class="row flex-column card-body">
            <div class="col-12">
              <div class="d-flex align-items-center justify-content-between gap-3">
                <h6 class="list-title mb-0">
                  Today's Calgary Area Listings
                </h6>
                <div class="dropstart">
                  <button class="filterBtn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-light fa-filter"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                      <a class="dropdown-item" href="#">Detached</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Row & Townhouse</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Semi-Detached</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Apartment</a>
                    </li>
                  </ul>
                </div>
              </div>
              <hr />
            </div>
            <ul>
              <li>
                <div class="col-12 d-flex justify-content-between gap-3 py-2 border-bottom">
                  <p class="text mb-0">Diamond Listings</p>
                  <div class="timer fs-5 fw500">1090</div>
                </div>
              </li>
              <li>
                <div class="col-12 d-flex justify-content-between gap-3 py-2 border-bottom">
                  <p class="text mb-0">New Listings</p>
                  <div class="timer fs-5 fw500">690</div>
                </div>
              </li>
              <li>
                <div class="col-12 d-flex justify-content-between gap-3 py-2 border-bottom">
                  <p class="text mb-0">Active Listings</p>
                  <div class="timer fs-5 fw500">3690</div>
                </div>
              </li>
              <li>
                <div class="col-12 d-flex justify-content-between gap-3 py-2 border-bottom">
                  <p class="text mb-0">Total Sales</p>
                  <div class="timer fs-5 fw500">690</div>
                </div>
              </li>
              <li>
                <div class="col-12 d-flex justify-content-between gap-3 py-2 border-bottom">
                  <p class="text mb-0">% Changes</p>
                  <div class="timer fs-5 fw500">40%</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- Explore Apartment -->

<section class="contactSection bgc-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="main-title wow fadeInUp mb-4" data-wow-delay="100ms" style="
                    visibility: visible;
                    animation-delay: 100ms;
                    animation-name: fadeInUp;
                  ">
          <h2 class="title">Contact Us</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-11 mx-auto position-relative">
        <a href="https://www.google.com/maps/d/embed?mid=1eSieTU-u5qa5XnUXhKjEyegQ5vwQni4&hl=en&ehbc=2E312F&ll=51.062725450517064%2C-114.09487259375003&z=11"
          target="_blank">
          <img class="mapCard img-fluid" src="../../../../../assets/images/mapcontact.webp" />
        </a>
      </div>
    </div>
    <div class="row justify-content-between align-items-start">
      <div class="col-md-5 col-lg-4 position-relative">
        <div class="home8-contact-form default-box-shadow1 bdrs12 bdr1 p30 mb30-md bgc-thm">
          <div class="inquiry-form">
            <h4 class="text-white">North Office</h4>
            <div class="d-flex flex-column gap-2 addressSection">
              <p class="mb-0 d-flex gap-2">
                <i class="fa-light fa-envelope"></i>
                <a href="mailto:northoffice@repinc.ca">northoffice</a>
              </p>
              <p class="mb-0 d-flex gap-2">
                <i class="fa-light fa-phone"></i>
                <a href="tel:403.547.4102">403.547.4102</a>
              </p>
              <p class="mb-0 d-flex gap-2">
                <i class="fa-sharp fa-light fa-location-dot"></i> 202,
                5403 Crowchild Tr. NW Calgary, AB T3B 4Z1
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-lg-4 position-relative">
        <div class="home8-contact-form default-box-shadow1 bdrs12 bdr1 p30 mb30-md bgc-thm">
          <div class="inquiry-form">
            <h4 class="text-white">South Office</h4>
            <div class="d-flex flex-column gap-2 addressSection">
              <p class="mb-0 d-flex gap-2">
                <i class="fa-light fa-envelope"></i>
                <a href="mailto:southoffice@repinc.ca">southoffice</a>
              </p>
              <p class="mb-0 d-flex gap-2">
                <i class="fa-light fa-phone"></i>

                <a href="tel:403.253.5305">403.253.5305</a>
              </p>
              <p class="mb-0 d-flex gap-2">
                <i class="fa-sharp fa-light fa-location-dot"></i> #100,
                5810 2nd Street SW Calgary, Alberta T2H 0H2
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>