<header class="header-nav nav-homepage-style at-home3 main-menu shadow-sm">
    <nav class="posr">
      <div class="container-xxl container-fluid posr menu_bdrt1">
        <div class="row align-items-center justify-content-between">
          <div class="col-auto flex-grow-1">
            <div class="d-flex align-items-center justify-content-between">
              <div class="logos mr20 mr10-lg">
                <a class="header-logo logo2" [routerLink]="['/']">
                  <img src="./assets/images/header-logo2.svg" alt="Header Logo"/>
                </a>
                <a class="header-logo logo1" [routerLink]="['/']">
                  <img src="./assets/images/header-logo2.svg" alt="Header Logo"/>
                </a>
              </div>
              <!-- Responsive Menu Structure-->
              <ul id="respMenu" class="ace-responsive-menu d-flex justify-content-center" data-menu-style="horizontal">
                <li class="visible_list">
                  <a class="list-item" [routerLink]="['/views','why-rep']"><span class="title">About Us</span></a>
                  <ul class="sub-menu" style="display: none">
                    <li><a [routerLink]="['/views','why-rep']" >Why REP</a></li>
                    <li><a [routerLink]="['/views','join-rep']">Join REP</a></li>
                  </ul>
                </li>
                <li class="visible_list">
                  <a class="list-item" [routerLink]="['/views','our-professionals']">
                    <span class="title">Our Professionals</span>
                  </a>
                </li>
                <li class="visible_list">
                  <a class="list-item" [routerLink]="['/views','property-search']">
                    <span class="title">Property Search</span>
                    </a>
                </li>
                <li class="visible_list">
                  <a class="list-item" [routerLink]="['/views','home-evaluation']">
                    <span class="title">Home Evaluation</span>
                  </a>
                </li>
                <li class="visible_list">
                  <a [routerLink]="['/views','contact-us']" class="list-item">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-auto">
            <div class="d-flex align-items-center gap-2">
              <a class="ud-btn btn-primary" href="#">Client Portal</a>
              <a class="ud-btn btn-outline-rep" data-bs-toggle="modal" href="#exampleModalToggle" role="button" >Realtor® Login</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <!-- Signup Modal -->
  <div class="signup-modal">
    <div
      class="modal fade"
      id="exampleModalToggle"
      aria-hidden="true"
      aria-labelledby="exampleModalToggleLabel"
      tabindex="-1"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel">
              Welcome to Realton
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="log-reg-form">
              <div class="navtab-style2">
                <nav>
                  <div
                    class="nav nav-tabs mb20"
                    id="nav-tab"
                    role="tablist"
                  >
                    <button
                      class="nav-link active fw600"
                      id="nav-home-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#nav-home"
                      type="button"
                      role="tab"
                      aria-controls="nav-home"
                      aria-selected="true"
                    >
                      Sign In
                    </button>
                    <button
                      class="nav-link fw600"
                      id="nav-profile-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#nav-profile"
                      type="button"
                      role="tab"
                      aria-controls="nav-profile"
                      aria-selected="false"
                    >
                      New Account
                    </button>
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent2">
                  <div
                    class="tab-pane fade show active fz15"
                    id="nav-home"
                    role="tabpanel"
                    aria-labelledby="nav-home-tab"
                  >
                    <div class="form-style1">
                      <div class="mb25">
                        <label class="form-label fw600 dark-color"
                          >Email</label
                        >
                        <input
                          type="email"
                          class="form-control"
                          placeholder="Enter Email"
                        />
                      </div>
                      <div class="mb15">
                        <label class="form-label fw600 dark-color"
                          >Password</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter Password"
                        />
                      </div>
                      <div
                        class="checkbox-style1 d-block d-sm-flex align-items-center justify-content-between mb10"
                      >
                        <label class="custom_checkbox fz14 ff-heading"
                          >Remember me
                          <input type="checkbox" checked="checked" />
                          <span class="checkmark"></span>
                        </label>
                        <a class="fz14 ff-heading" href="#"
                          >Lost your password?</a
                        >
                      </div>
                      <div class="d-grid mb20">
                        <button class="ud-btn btn-thm" type="button">
                          Sign in <i class="fal fa-arrow-right-long"></i>
                        </button>
                      </div>
                      <div class="hr_content mb20">
                        <hr />
                        <span class="hr_top_text">OR</span>
                      </div>
                      <div class="d-grid mb10">
                        <button class="ud-btn btn-white" type="button">
                          <i class="fab fa-google"></i> Continue Google
                        </button>
                      </div>
                      <div class="d-grid mb10">
                        <button class="ud-btn btn-fb" type="button">
                          <i class="fab fa-facebook-f"></i> Continue
                          Facebook
                        </button>
                      </div>
                      <div class="d-grid mb20">
                        <button class="ud-btn btn-apple" type="button">
                          <i class="fab fa-apple"></i> Continue Apple
                        </button>
                      </div>
                      <p class="dark-color text-center mb0 mt10">
                        Not signed up?
                        <a class="dark-color fw600" href="#"
                          >Create an account.</a
                        >
                      </p>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade fz15"
                    id="nav-profile"
                    role="tabpanel"
                    aria-labelledby="nav-profile-tab"
                  >
                    <div class="form-style1">
                      <div class="mb25">
                        <label class="form-label fw600 dark-color"
                          >Email</label
                        >
                        <input
                          type="email"
                          class="form-control"
                          placeholder="Enter Email"
                        />
                      </div>
                      <div class="mb20">
                        <label class="form-label fw600 dark-color"
                          >Password</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter Password"
                        />
                      </div>
                      <div class="d-grid mb20">
                        <button class="ud-btn btn-thm" type="button">
                          Create account
                          <i class="fal fa-arrow-right-long"></i>
                        </button>
                      </div>
                      <div class="hr_content mb20">
                        <hr />
                        <span class="hr_top_text">OR</span>
                      </div>
                      <div class="d-grid mb10">
                        <button class="ud-btn btn-white" type="button">
                          <i class="fab fa-google"></i> Continue Google
                        </button>
                      </div>
                      <div class="d-grid mb10">
                        <button class="ud-btn btn-fb" type="button">
                          <i class="fab fa-facebook-f"></i> Continue
                          Facebook
                        </button>
                      </div>
                      <div class="d-grid mb20">
                        <button class="ud-btn btn-apple" type="button">
                          <i class="fab fa-apple"></i> Continue Apple
                        </button>
                      </div>
                      <p class="dark-color text-center mb0 mt10">
                        Not signed up?
                        <a class="dark-color fw600" href="#"
                          >Create an account.</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Menu In Hiddn SideBar -->
  
  <!-- Advanced Filter -->
  <div class="advance-feature-modal">
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header pl30 pr30">
            <h5 class="modal-title" id="exampleModalLabel">More Filter</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body pb-0">
            <div class="row">
              <div class="col-lg-12">
                <div class="widget-wrapper">
                  <h6 class="list-title">Price Range</h6>
                  <!-- Range Slider Mobile Version -->
                  <div class="range-slider-style modal-version">
                    <div class="range-wrapper">
                      <div class="mb30 mt35" id="slider"></div>
                      <div class="d-flex align-items-center">
                        <span id="slider-range-value1"></span><i class="fa-sharp fa-solid fa-minus mx-2 dark-color icon"></i>
                        <span id="slider-range-value2"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="widget-wrapper">
                  <h6 class="list-title">Type</h6>
                  <div class="form-style2 input-group">
                    <select class="selectpicker" data-live-search="true" data-width="100%">
                      <option>Property</option>
                      <option data-tokens="Apartments">Apartments</option>
                      <option data-tokens="Bungalow">Bungalow</option>
                      <option data-tokens="Houses">Houses</option>
                      <option data-tokens="Loft">Loft</option>
                      <option data-tokens="Office">Office</option>
                      <option data-tokens="Townhome">Townhome</option>
                      <option data-tokens="Villa">Villa</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="widget-wrapper">
                  <h6 class="list-title">Property ID</h6>
                  <div class="form-style2">
                    <input type="text" class="form-control" placeholder="RT04949213">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="widget-wrapper">
                  <h6 class="list-title">Bedrooms</h6>
                  <div class="d-flex">
                    <div class="selection">
                      <input id="xany" name="xbeds" type="radio" checked>
                      <label for="xany">any</label>
                    </div>
                    <div class="selection">
                      <input id="xoneplus" name="xbeds" type="radio">
                      <label for="xoneplus">1+</label>
                    </div>
                    <div class="selection">
                      <input id="xtwoplus" name="xbeds" type="radio">
                      <label for="xtwoplus">2+</label>
                    </div>
                    <div class="selection">
                      <input id="xthreeplus" name="xbeds" type="radio">
                      <label for="xthreeplus">3+</label>
                    </div>
                    <div class="selection">
                      <input id="xfourplus" name="xbeds" type="radio">
                      <label for="xfourplus">4+</label>
                    </div>
                    <div class="selection">
                      <input id="xfiveplus" name="xbeds" type="radio">
                      <label for="xfiveplus">5+</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="widget-wrapper">
                  <h6 class="list-title">Bathrooms</h6>
                  <div class="d-flex">
                    <div class="selection">
                      <input id="yany" name="ybath" type="radio" checked>
                      <label for="yany">any</label>
                    </div>
                    <div class="selection">
                      <input id="yoneplus" name="ybath" type="radio">
                      <label for="yoneplus">1+</label>
                    </div>
                    <div class="selection">
                      <input id="ytwoplus" name="ybath" type="radio">
                      <label for="ytwoplus">2+</label>
                    </div>
                    <div class="selection">
                      <input id="ythreeplus" name="ybath" type="radio">
                      <label for="ythreeplus">3+</label>
                    </div>
                    <div class="selection">
                      <input id="yfourplus" name="ybath" type="radio">
                      <label for="yfourplus">4+</label>
                    </div>
                    <div class="selection">
                      <input id="yfiveplus" name="ybath" type="radio">
                      <label for="yfiveplus">5+</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="widget-wrapper">
                  <h6 class="list-title">Location</h6>
                  <div class="form-style2 input-group">
                    <select class="selectpicker" data-live-search="true" data-width="100%">
                      <option>All Cities</option>
                      <option data-tokens="California">California</option>
                      <option data-tokens="Chicago">Chicago</option>
                      <option data-tokens="LosAngeles">Los Angeles</option>
                      <option data-tokens="Manhattan">Manhattan</option>
                      <option data-tokens="NewJersey">New Jersey</option>
                      <option data-tokens="NewYork">New York</option>
                      <option data-tokens="SanDiego">San Diego</option>
                      <option data-tokens="SanFrancisco">San Francisco</option>
                      <option data-tokens="Texas">Texas</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="widget-wrapper">
                  <h6 class="list-title">Square Feet</h6>
                  <div class="space-area">
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="form-style1">
                        <input type="text" class="form-control" placeholder="Min.">
                      </div>
                      <span class="dark-color">-</span>
                      <div class="form-style1">
                        <input type="text" class="form-control" placeholder="Max">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="widget-wrapper mb0">
                  <h6 class="list-title mb10">Amenities</h6>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="widget-wrapper mb20">
                  <div class="checkbox-style1">
                    <label class="custom_checkbox">Attic
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="custom_checkbox">Basketball court
                      <input type="checkbox" checked="checked">
                      <span class="checkmark"></span>
                    </label>
                    <label class="custom_checkbox">Air Conditioning
                      <input type="checkbox" checked="checked">
                      <span class="checkmark"></span>
                    </label>
                    <label class="custom_checkbox">Lawn
                      <input type="checkbox" checked="checked">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="widget-wrapper mb20">
                  <div class="checkbox-style1">
                    <label class="custom_checkbox">TV Cable
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="custom_checkbox">Dryer
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="custom_checkbox">Outdoor Shower
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="custom_checkbox">Washer
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="widget-wrapper mb20">
                  <div class="checkbox-style1">
                    <label class="custom_checkbox">Lake view
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="custom_checkbox">Wine cellar
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="custom_checkbox">Front yard
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="custom_checkbox">Refrigerator
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <a class="reset-button" href="#"><span class="flaticon-turn-back"></span><u>Reset all filters</u></a>
            <div class="btn-area">
              <button class="ud-btn btn-thm"><span class="flaticon-search align-text-top pr10"></span>Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Advanced Filter End -->


  <div class="hiddenbar-body-ovelay"></div>


  <!-- Mobile Nav  -->
  <div id="page" class="mobilie_header_nav stylehome1">
    <div class="mobile-menu">
      <div class="header innerpage-style">
        <div class="menu_and_widgets">
          <div
            class="mobile_menu_bar d-flex justify-content-between align-items-center"
          >
            <a class="menubar" href="#menu"
              ><img src="../../../../assets/images/mobile-dark-nav-icon.svg" alt=""
            /></a>
            <a class="mobile_logo" href="#"
              ><img
                src="../../../../assets/images/header-logo2.svg"
                style="width: 150px"
                alt=""
            /></a>
            <a href="#"
              ><span class="icon fz18 far fa-user-circle"></span
            ></a>
          </div>
        </div>
      </div>
    </div>
    <nav id="menu" class="">
      <ul>
        <li><a href="#">Home </a></li>

        <li><a href="page-about.html">About Us</a></li>
        <li><a href="why-rep.html">Why REP</a></li>
        <li><a href="#">Our Professionals</a></li>
        <li><a href="#">Property Search</a></li>
        <li><a href="contact.html">Contact Us</a></li>

        <li class="px-3 mobile-menu-btn">
          <a
            href="page-dashboard-add-property__html"
            class="ud-btn btn-thm text-white"
            >Submit Property<i class="fal fa-arrow-right-long"></i
          ></a>
        </li>
        <!-- Only for Mobile View -->
      </ul>
    </nav>
  </div>