<!-- Property Half Map V4 -->
<section class="p-0 bgc-f7">
  <div class="container-fluid">
    <div class="row wow fadeInUp" data-wow-delay="100ms">
      <div class="col-xl-7 overflow-hidden position-relative">
        <div class="half_map_area">
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="9">
            <agm-marker-cluster [styles]="clusterStyles">
              <agm-marker *ngFor="let prop of propertiesFound" [latitude]="prop.latitude" [longitude]="prop.longitude"
                [iconUrl]="$any(markerIcon)" [title]="prop.unparsedAddress" [markerClickable]="true">
                <agm-info-window style="padding-inline-end: 0px; padding-bottom: 0px;
                  padding-top: 12px;
                  max-width: 356px !important;max-height: 429px;min-width: 0px;" [disableAutoPan]="false" #infoWindow>
                  <div class="row">
                    <div class="col-md-6">
                      <img [src]="prop.image_url" style="width: 150px; height: 150px" />
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-12">
                          <h3>{{prop.listPrice}}</h3>
                        </div>
                        <div class="col-md-12">
                          <h5><a target="_blank" routerLink="/views/property-detail/{{prop.listingKeyNumeric}}"> {{prop.unparsedAddress +
                              (prop.unparsedAddress ? ', ' : '') + prop.city + ', ' + prop.stateOrProvince}}</a></h5>
                        </div>
                        <div class="col-md-12"><small>MLS Number #{{prop.listingId}}</small></div>
                      </div>
                    </div>
                  </div>
                </agm-info-window>
              </agm-marker>
            </agm-marker-cluster>
          </agm-map>
        </div>
      </div>
      <div class="col-xl-5">
        <div class="half_map_area_content bg-white filertAndResults">
          <!-- New -->
          <div class="filterSection position-relative">
            <div class="top-sec d-flex align-items-center justify-content-between">
              <p id="results">{{propertiesFound.length}} Properties</p>

              <button class="ud-btn btn-outline-rep bg-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Save Search
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header border-0">
                      <h1 class="modal-title text-center fs-5" id="exampleModalLabel">
                        Saved Search
                      </h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body py-0 savesearch">
                      <input type="text" placeholder="Give a name to your search" class="save-input" />
                      <h5>Setup New Listing Alert</h5>
                      <p>Receive Alerts Frequency</p>
                      <div class="d-flex align-items-center gap-3 mt-2">
                        <input type="radio" />
                        <p>Daily</p>
                        <input type="radio" />
                        <p>Weekly</p>
                        <input type="radio" />
                        <p>Monthly</p>
                        <input type="radio" />
                        <p>Never</p>
                      </div>
                    </div>
                    <div class="modal-footer pt-2 border-0">
                      <button type="button" class="w-100 ud-btn btn-primary collapsed">
                        Save Filter
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mid-sec row px-3">
              <div id="loader" class="spinner-border text-primary" role="status" style="display: none">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="col-12 px-1">
                <span class="load">
                  <input class="form-control bgc-f7 bdrs12" [(ngModel)]="searchQueryText"
                     (input)="ChangePropertySearchVal()" type="text" name="search"
                     placeholder="Search by address, neighborhood, city or postal code." />
                     <span class="inlineSearchLoader" *ngIf="inlineSearchLoader"><mat-spinner [diameter]="30" [strokeWidth]="3"></mat-spinner></span>
                  </span>
                  <div id="suggestion-list" *ngIf="searchResult != null">
                    <div *ngIf="searchResult.city != null && searchResult.city.length > 0">
                       <!-- <div class="category">Cities</div> -->
                       <div class="suggestion" *ngFor="let city of searchResult.city" 
                       (click)="searchQueryText = city; searchResult = null;getPropertyAdvanceSearch();">{{city}} <span style="opacity: 0.5;"> - (City)</span></div>
                    </div>
                    <div *ngIf="searchResult.stateOrProvince != null && searchResult.stateOrProvince.length > 0">
                       <!-- <div class="category">State or Province</div> -->
                       <div class="suggestion" *ngFor="let StateOrProvince of searchResult.stateOrProvince"
                       (click)="searchQueryText = StateOrProvince; searchResult = null;getPropertyAdvanceSearch();">{{StateOrProvince}}<span style="opacity: 0.5;"> - (State or Province)</span></div>
                    </div>
                    <div *ngIf="searchResult.postalCode != null && searchResult.postalCode.length > 0">
                       <!-- <div class="category">Postal Code</div> -->
                       <div class="suggestion" *ngFor="let postalCode of searchResult.postalCode"
                       (click)="searchQueryText = postalCode; searchResult = null;getPropertyAdvanceSearch();">{{postalCode}}<span style="opacity: 0.5;"> - (Postal Code)</span></div>
                    </div>
                    <div *ngIf="searchResult.address != null && searchResult.address.length > 0">
                       <!-- <div class="category">Address</div> -->
                       <div class="suggestion" *ngFor="let address of searchResult.address"
                       (click)="searchQueryText = address; searchResult = null;getPropertyAdvanceSearch();">{{address}}<span style="opacity: 0.5;"> - (Address)</span></div>
                    </div>
                 </div>
              </div>
              <div class="dropdown col-3 px-1 drp-dwn">
                <select id="min-price" class="form-select"
                  onchange="updateMaxPriceOptions(); applyFilter('min_list_price', this.value);">
                  <option selected="" disabled="">Min Price</option>
                  <option value="25000">$25k</option>
                  <option value="35000">$35k</option>
                </select>
              </div>

              <div class="dropdown col-3 px-1 drp-dwn">
                <select id="max-price" class="form-select"
                  onchange="updateMinPriceOptions(); applyFilter('max_list_price', this.value);">
                  <option selected="" disabled="">Max Price</option>
                  <option value="25000">$25k</option>
                  <option value="35000">$35k</option>
                </select>
              </div>

              <div class="dropdown col-3 px-1 drp-dwn">
                <select class="form-select" onchange="applyFilter('min_bedrooms', this.value);">
                  <option selected="" disabled="">Beds</option>
                  <option value="">Beds</option>
                  <option value="1">1 +</option>
                  <option value="2">2 +</option>
                  <option value="3">3 +</option>
                  <option value="4">4 +</option>
                  <option value="5">5 +</option>
                </select>
              </div>

              <div class="dropdown col-3 px-1 drp-dwn">
                <select class="form-select" onchange="applyFilter('min_bathrooms', this.value);">
                  <option selected="" disabled="">Baths</option>
                  <option value="">Baths</option>
                  <option value="1">1 +</option>
                  <option value="2">2 +</option>
                  <option value="3">3 +</option>
                  <option value="4">4 +</option>
                  <option value="5">5 +</option>
                </select>
              </div>

              <div class="dropdown col-3 px-1 mt-2 drp-dwn">
                <select class="form-select" onchange="applyFilter('mls_status', this.value);" disabled="">
                  <option selected="" disabled="">Sale</option>
                  <option value="Sale">For Sale</option>
                  <option value="Lease">For Lease</option>
                </select>
              </div>

              <div class="dropdown col-3 px-1 mt-2 drp-dwn">
                <select class="form-select" onchange="applyFilter('property_type', this.value);">
                  <option selected="" disabled="">Property Type</option>
                  <option value="Residential">Residential</option>
                  <option value="Land">Land</option>
                  <option value="Commercial">Commercial</option>
                  <option value="Multi-Family">Multi-Family</option>
                  <option value="Agri-Business">Agri-Business</option>
                  <option value="Rental">Rental</option>
                  <option value="Mobile">Mobile</option>
                </select>
              </div>

              <div class="col-2 px-0">
                <div class="d-flex align-items-center h-100 justify-content-center">
                  <i class="ri-refresh-line" id="clearFilters"></i>
                </div>
              </div>

              <div class="accordion px-1 more-btn col-4 mt-2 zi2" id="accordionExample">
                <div class="accordion-item px-0">
                  <div class="accordion-header" id="headingOne">
                    <button class="ud-btn btn-primary collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      More Filters
                    </button>
                  </div>
                </div>
              </div>

              <div class="row row-2 mt-3">
                <div class="col-6">
                  <div class="d-flex align-items-center justify-content-start px-0">
                    <div class="icons align-items-center d-flex gap-3 col-2 iconscss">
                      <i class="fa fa-map-marker" aria-hidden="true" id="mapView" style="
                          background-color: rgb(16, 87, 159);
                          color: rgb(255, 255, 255);
                        "></i>
                      <i class="fa fa-th-large" aria-hidden="true" id="gridView" style="
                          background-color: rgb(16, 87, 159);
                          color: rgb(255, 255, 255);
                        "></i>

                      <!-- <i class="ri-layout-grid-2-fill" id="mapView" style=""></i> -->
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="sortby d-flex align-items-center justify-content-end px-0">
                    <select name="Sort By" onchange="applyFilter('sort_by', this.value);">
                      <option value="">Sort By</option>
                      <option value="asc_list">Price Low to High</option>
                      <option value="desc_list">Price High to Low</option>
                      <option value="asc_dom">Oldest Listings</option>
                      <option value="desc_dom">Latest Listings</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- New -->

          <div class="row px-3 pt-3">

            <div class="col-md-6 col-sm-6 listings_div" *ngFor="let property of propertiesFound| paginate
         : {
           itemsPerPage: itemsPerPage,
           currentPage: page,
           totalItems: totalItems
           }">
            <div class="listing-style5">
               <div class="list-thumb">
                  <img src="{{property.image_url}}" alt="{{property.listingKeyNumeric}}">
                  <div class="list-tag fz12" *ngIf="property.isDiamondProperty">
                     <i class="fa-thin fa-gem me-2"></i>Diamond
                  </div>
                  <div class="list-tag fz12" *ngIf="!property.isDiamondProperty">
                    <i class="fa-thin fa-gem me-2"></i>Featured
                 </div>
                  <div class="list-meta2">
                     <a href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" title="Favourite"
                        class="set-as-fav">
                        <span class="flaticon-like"></span>
                     </a>
                     <a routerLink="/views/property-detail/{{property.listingKeyNumeric}}" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Preview" target="_blank">
                        <span class="flaticon-fullscreen"></span>
                     </a>
                  </div>
               </div>
               <div class="list-content">
                  <div class="list-price mb-2">{{property.listPrice | currency: 'CAD' : 'symbol-narrow' : '4.0-2'}}</div>
                  <h6 class="list-title">
                    <a routerLink="/views/property-detail/{{property.listingKeyNumeric}}">{{property.fullAddress}}</a>
                 </h6>
                  <p class="list-text">{{property.propertyType}}</p>
                  <div class="list-meta d-flex align-items-center gap-3">
                     <a href="javascript:void(0)"><span class="flaticon-expand"></span>{{property.livingAreaSF}}
                        sqft</a>
                  </div>
                  <span class="mlsNumber">MLS® # {{property.listingId}}</span>
               </div>
            </div>
         </div>
          </div>
          <div class="d-flex align-items-center justify-content-center mt-5"
          *ngIf="propertiesFound.length > itemsPerPage">
          <nav aria-label="Agent Pagination">
              <div class="mbp_pagination text-center">
                  <pagination-controls class="pagi"
                      (pageChange)="gty((page = $event))"></pagination-controls>
      
              </div>
          </nav>
      </div>

        </div>
      </div>
    </div>
  </div>
</section>