<section class="home-banner-style3 p0 headerForm-style-cta wow fadeInUp" data-wow-delay="100ms">
    <div class="home-style3 position-relative zi1">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-7">
            <div class="d-flex flex-column justify-content-center">
              <h2 class="hero-title animate-up-1 text-shadow text-white">
              Become a Pro at Real Estate Professionals Inc.
              </h2>
              <p class="text-white text-shadow fs-6">
            Join a brokerage that prides itself in our class leading conveyancing service, our comprehensive Realtor® support network, and our low fee brokerage plans all geared to help you succeed in your business!
              </p>

              <div class="ctnBox">
                <a class="ud-btn btn-white w-100" href="#"> Join Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- UI Elements Sections -->
  <section class="our-about pb-0">
    <div class="container">
      <div class="row wow fadeInUp" data-wow-delay="300ms">
        <div class="col-lg-9">
          <h2>
            Realtor® First - Past, Present and Future!
          </h2>
        </div>
        <div
          class="col-lg-3 d-flex justify-content-end align-items-start"
        >
          <a class="ud-btn btn-primary ms-auto" href="#">Join Now</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Explore Apartment -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-xl-6 wow fadeInUp" data-wow-delay="100ms">
          <div class="about-box2">
              <p class="text fz15 text-white">
          We take a Realtor® First approach in everything we do. We support our associates from start to finish and everything in between to ensure they succeed in their business goals.
            </p>
            <a href="#" class="ud-btn btn-outline-white"
              >Join Now<i class="fal fa-arrow-right-long"></i
            ></a>
            <img
              class="img-1"
              src="../../../../assets/images/home/supportImg.png"
              style="width: 60%"
              alt=""
            />
          </div>
        </div>
       <div class="col-xl-6 wow fadeInUp" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="iconbox-style6" style="height: 275px;">
                                <img class="iconsCards icon" src="https://mukeshswami.com/frontend/money-bag.svg" alt="">
                                <h3 class="title mb-1">01</h3>
                                <h6 class="subtitle">More Money In Your Pocket
</h6>
                                <p class="iconbox-text">
                                We offer one of the lowest brokerage fee structures and monthly administrative charges in Alberta!

                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="iconbox-style6" style="height: 275px;">
                                <img class="iconsCards icon" src="https://mukeshswami.com/frontend/images/social-support.svg" alt="">
                                <h3 class="title mb-1">02</h3>
                                <h6 class="subtitle">Multidisciplinary Support Network
</h6>
                                <p class="iconbox-text">
                                We have a class leading conveyancing service, accessible and supportive management staff, an in-office real estate lawyer and mortgage associate!

                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="iconbox-style6" style="height: 275px;">
                                <img class="iconsCards icon" src="https://mukeshswami.com/frontend/images/graduation-cap.svg" alt="">
                                <h3 class="title mb-1">03</h3>
                                <h6 class="subtitle">REP PREP
</h6>
                                <p class="iconbox-text">
                                We offer educational courses, free presentations from industry-leading professionals, a one-to-one Mentorship Program, and more!

                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="iconbox-style6" style="height: 275px;">
                                 <img class="iconsCards icon" src="https://mukeshswami.com/frontend/images/network.svg" alt="">
                                <h3 class="title mb-1">04</h3>
                                <h6 class="subtitle">Our Social Network
</h6>
                                <p class="iconbox-text">
                                We offer numerous social events for our associates and their families to attend year-round to help cultivate relationships amongst our peers and the community!

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
      </div>
    </div>
  </section>

  <section class="our-cta bgc-f7 pt90 pb90 pt60-md pb60-md ctaOne">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-xl-6 wow fadeInLeft">
          <div class="cta-style3">
            <h2 class="cta-title">Take Your First Step In Becoming a Pro at Real Estate Professionals Inc.</h2>
            <p class="cta-text mb25">
             Fill in our Realtor® Intake Form to request a confidential meeting with a member of management staff where we will take you into a deep dive of Real Estate Professionals Inc.’s various Realtor® First driven services and how we position you for success.
            </p>
            <a href="#" class="ud-btn btn-thm"
              >Register Now <i class="fal fa-arrow-right-long"></i
            ></a>
          </div>
        </div>
        <div
          class="col-lg-5 col-xl-4 offset-xl-2 d-none d-lg-block wow fadeIn"
          data-wow-delay="300ms"
        >
          <div class="cta-img">
            <img src="../../../../assets/images/about/cta-member-1.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Why Chose Us -->

  <!-- Our Partners -->
  <!-- Explore Apartment -->
  <section class="charityPartners">
    <div class="container">
      <div class="row">
        <div
          class="col-md-10 col-xl-8 m-auto wow fadeInUp"
          data-wow-delay="300ms"
        >
          <div class="main-title text-center">
            <h2 class="title text-capitalize text-white">
              Realtor Intake form
            </h2>
        
          </div>

          <div class="card">
            <div class="card-body p-3 p-md-5">
              <form class="form-style1">
                <div class="row row-gap-3">
                  <div class="col-md-6">
                    <label class="heading-color ff-heading fw600 mb10"
                      >Full Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      placeholder="First Name"
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="heading-color ff-heading fw600 mb10"
                      >Phone</label
                    >

                    <input
                      type="tel"
                      class="form-control"
                      placeholder="First Name"
                    />
                  </div>

                  <div class="col-md-12 col-xxl-6">
                    <label class="heading-color ff-heading fw600 mb10"
                      >Email</label
                    >

                    <input
                      type="email"
                      class="form-control"
                      placeholder="First Name"
                    />
                  </div>

                  <div class="col-md-12 col-xxl-6">
                    <label class="heading-color ff-heading fw600 mb10"
                      >Current brokerage or Current Professional Status?
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Name of current brokerage"
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="heading-color ff-heading fw600 mb10"
                      >Years & Months of experience</label
                    >
                    <div class="d-flex gap-2">
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Years"
                      />
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Months"
                      />
                    </div>
                  </div>

                  <div class="col-md-12 col-xxl-6">
                    <label class="heading-color ff-heading fw600 mb10"
                      >How did you find Real Estate Professionals?
                    </label>
                    <select
                      class="form-select form-control"
                      aria-label="Default select example"
                    >
                      <option selected>Social Media</option>
                      <option value="1">Friends</option>
                      <option value="2">Oneline Ads</option>
                      <option value="3">Web surfing</option>
                    </select>
                  </div>

                  <div class="col-lg-6">
                    <label class="heading-color ff-heading fw600 mb10"
                      >Referred by?</label
                    >

                    <input
                      type="text"
                      class="form-control"
                      placeholder="Referred by? (if anyone)"
                    />
                  </div>
                  <div class="col-lg-6">
                    <label class="heading-color ff-heading fw600 mb10"
                      >Why are you considering REP?</label
                    >

                    <input
                      type="text"
                      class="form-control"
                      placeholder="Why are you considering REP?"
                    />
                  </div>
                  <div class="col-lg-6">
                    <label class="heading-color ff-heading fw600 mb10"
                      >Areas licensed in?
                    </label>
                    <select
                      class="form-select form-control"
                      aria-label="Default select example"
                    >
                      <option selected>Residential</option>
                      <option value="1">Commercial</option>
                      <option value="2">Rural</option>
                      <option value="3">Property Management</option>
                      <option value="4">Associate Broker</option>
                    </select>
                  </div>

                  <div class="col-lg-6">
                    <label class="heading-color ff-heading fw600 mb10"
                      >Areas you most practice in?
                    </label>
                    <select
                      class="form-select form-control"
                      aria-label="Default select example"
                    >
                      <option selected>Residential</option>
                      <option value="1">Commercial</option>
                      <option value="2">Rural</option>
                      <option value="3">Property Management</option>
                      <option value="4">Associate Broker</option>
                    </select>
                  </div>

                  <div class="col-md-12">
                    <label class="heading-color ff-heading fw600 mb10">
                      Best way to contact you?
                    </label>
                    <div
                      class="checkbox-style1 d-flex gap-4 align-items-center"
                    >
                      <label class="custom_checkbox"
                        >Email
                        <input type="checkbox" />
                        <span class="checkmark"></span>
                      </label>
                      <label class="custom_checkbox"
                        >Call
                        <input type="checkbox" checked="checked" />
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>

                  <div class="col-md-6 m-auto mt20">
                    <button
                      type="submit"
                      class="ud-btn btn-primary w-100"
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>