.btn-dark:hover {
    background-color: #EB6753;
    border: 1px solid #EB6753;
}
.btn-white:hover, .btn-white2:hover {
    border: 1px solid #EB6753;
}
.btn-dark:before, .btn-gray:before, .btn-light-gray:before, .btn-thm-border:before, .btn-thm2:before, .btn-thm3:before, .btn-transparent2:before, .btn-transparent:before, .btn-white:before {
    background-color: #EB6753;
    border: 0;
}

.dashboard__sidebar, .dashboard_header {
    left: 0;
    position: fixed;
    background-color: #fff;
    top: 22%;
}
.dashboard__content {
    border-radius: 16px;
    padding: 60px 60px 20px;
    width: 100%;
    padding-top: 13rem;
}

.av {
    position: fixed !important;  
    z-index: 10 !important;
    animation: .35s ease-out slideDown;
}