/**@import '~lightgallery/css/lightgallery.css';**/


.my-overlay {
    left: 0 !important;
    top: 0 !important;
    z-index: 10000 !important;
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    background-color: rgb(0 0 0 / 69%) !important;
    cursor: pointer !important;
    visibility: visible !important;
    transition: visibility 0s, opacity 0.4s linear !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: wait !important;
}
.my-overlay i.fa.fa-spinner.fa-spin, .spinner-big {
    font-size: 100px !important;
}

i.fa.fa-spinner.fa-spin {
    color: #a8a8a8;;
    /* box-shadow: 0 6px 0 0 #ffffff; */
}

mat-progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}


.loader-container {
    position: fixed;
    width: 100%;
    z-index: 99;
}